<a href="https://colab.research.google.com/github/waigisteve/ProforlioProject/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("its that time again")

its that time again

In [ ]:
x=14

In [ ]:
print(x)

14

In [ ]:
y=34
sum =x+y
print(sum)

48

In [ ]:
# prompt: A script that prints the average of three subjects  scores Maths, Science , Geography  add an extra 5 marks for each subject and generate the answer

# Scores for each subject
maths = 70
science = 80
geography = 90

# Adding bonus marks
maths += 5
science += 5
geography += 5

# Calculate the total score
total_score = maths + science + geography

# Calculate the average score
average_score = total_score / 3

# Print the average score
print("The average score is:", average_score)

its that time again
14
48
The average score is: 82.33333333333333

In [ ]:
maths = "good marks"
science ="excellent"
total =maths + science
print(total)

good marksexcellent

In [ ]:
science =100
maths ="120"
total =int(maths) + science
print(total)

220

In [ ]:
maths = int(input("enter maths marks"))
science = int(input("enter science marks"))
total =maths + science
total_marks = maths + science
print(total/200*100)

if total >89:
  print("A")
elif total >79:
  print("B")
elif total >69:
  print("C")
elif total >59:
  print("D")
else:
  print("F")

enter maths marks43
enter science marks23
33.0
D

from os import PRIO_PROCESS
Movie Ticket Pricing
Scenario: a cinema has different  ticket prices based on age.
Task: Write a program that asks for the customers age adn prints the ticket PRIO_PROCESS

child (0-12): 200
Teen (13-17): 400
Adult (18-64): 600
Senior (65 and above): 800

In [ ]:
age = int(input("Enter your age: "))

if age <= 12:
    price = 200
    category = "Child"
elif age <= 17:
    price = 400
    category = "Teen"
elif age <= 64:
    price = 600
    category = "Adult"
else:
    price = 800
    category = "Senior"

print(f"Ticket price for {category}: {price}")

Enter your age: 8
Ticket price for Child: 200

a country has a progressive tax system based on annual income. create a program that calculates tax based on the following brackets up to 350000 no tax 351000 to 500000 5%
501,000 to 1000000 10% above 1000000 20% tax

In [ ]:
def calculate_tax(income):
    if income <= 350000:
        tax = 0
        tax_percent = 0
    elif income <= 500000:
        tax = (income - 350000) * 0.05
        tax_percent = 5
    elif income <= 1000000:
        tax = (150000 * 0.05) + (income - 500000) * 0.10
        tax_percent = (tax / income) * 100  # Calculate effective tax percentage
    else:
        tax = (150000 * 0.05) + (500000 * 0.10) + (income - 1000000) * 0.20
        tax_percent = (tax / income) * 100  # Calculate effective tax percentage

    return tax, tax_percent

income = float(input("Enter your annual income: "))
tax_amount, tax_percentage = calculate_tax(income)

print(f"Tax payable on income of ${income:,.2f} is:")
print(f"- Amount: ${tax_amount:,.2f}")
print(f"- Effective Tax Percentage: {tax_percentage:.2f}%")

Enter your annual income: 1300000
Tax payable on income of $1,300,000.00 is:
- Amount: $117,500.00
- Effective Tax Percentage: 9.04%

Enter your exam score: 45
Admission unlikely

Advanced Loan Approval System

Scenario: A bank has a complex loan approval process based on multiple factors.
Task: Create a program that determines loan approval and interest rate based on:

Credit Score (Excellent: 800+, Good: 700-799, Fair: 600-699, Poor: below 600)
Annual Income (High: 1,000,000+, Medium: 500,000-999,999, Low: below 500,000)
Debt-to-Income Ratio (Low: below 20%, Medium: 20-36%, High: above 36%)
Loan Amount (Small: below 1,000,000, Medium: 1,000,000-5,000,000, Large: above 5,000,000)

Rules:

Approve loan if Credit Score is Good or Excellent, and Debt-to-Income Ratio is Low or Medium
Reject loan if Credit Score is Poor, or if Debt-to-Income Ratio is High
For Fair Credit Score, approve only if Income is High and Debt-to-Income Ratio is Low
Interest rates:

8% for Excellent Credit, Low Debt-to-Income, and High Income
10% for Good Credit or (Fair Credit with High Income and Low Debt-to-Income)
12% for all other approved loans

In [ ]:
def assess_loan(credit_score, income, dti):
    approved = False
    interest_rate = None

    if credit_score >= 800:
        if income >= 1000000 and dti < 0.20:
            approved = True
            interest_rate = 0.03  # Excellent credit, high income, low DTI
        elif income >= 500000 and dti < 0.36:
            approved = True
            interest_rate = 0.04  # Excellent credit, medium income, reasonable DTI
        elif dti < 0.20:
            approved = True
            interest_rate = 0.05  # Excellent credit, but lower income or higher DTI
    elif credit_score >= 700:
        if income >= 500000 and dti < 0.20:
            approved = True
            interest_rate = 0.06  # Good credit, medium income, low DTI
        elif dti < 0.30:
            approved = True
            interest_rate = 0.07  # Good credit, but lower income or higher DTI
    elif credit_score >= 600:
        if income >= 750000 and dti < 0.20:
            approved = True
            interest_rate = 0.08  # Fair credit, high income, low DTI
    # No approval for poor credit (below 600)

    return approved, interest_rate

# Get user input
credit_score = int(input("Enter your credit score: "))
income = float(input("Enter your annual income: "))
dti = float(input("Enter your debt-to-income ratio (e.g., 0.3 for 30%): "))

# Assess loan application
approved, interest_rate = assess_loan(credit_score, income, dti)

if approved:
    print("Congratulations! Your loan is approved.")
    print(f"Your interest rate is: {interest_rate * 100:.2f}%")
else:
    print("Unfortunately, your loan application is not approved at this time.")

Enter your credit score: 500
Enter your annual income: 1200000
Enter your debt-to-income ratio (e.g., 0.3 for 30%): 40
Unfortunately, your loan application is not approved at this time.

In [ ]:
import pyodbc

# Database connection details
server = 'STEPHENWAIGI'
database = 'Roster'

try:
    # Connect to the database using Windows Authentication
    conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=' + server + ';'
                          'Database=' + database + ';'
                          'Trusted_Connection=yes;')

    cursor = conn.cursor()

    # Execute the query to fetch data from the Revenue table
    cursor.execute("SELECT * FROM Revenue")
    rows = cursor.fetchall()

    # Display the data
    for row in rows:
        print(row)

except pyodbc.Error as ex:
    print("Error connecting to database or fetching data:", ex)

finally:
    if conn:
        conn.close()
        print("Database connection closed.")

Error connecting to database or fetching data: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'SQL Server' : file not found (0) (SQLDriverConnect)")

NameError: name 'conn' is not defined

In [ ]:
!pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (334 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 334.7/334.7 kB 5.9 MB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.1.0

In [ ]:
!sudo apt-get install unixodbc unixodbc-dev

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
unixodbc-dev is already the newest version (2.3.9-5ubuntu0.1).
unixodbc-dev set to manually installed.
The following NEW packages will be installed:
  unixodbc
0 upgraded, 1 newly installed, 0 to remove and 45 not upgraded.
Need to get 26.7 kB of archives.
After this operation, 111 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 unixodbc amd64 2.3.9-5ubuntu0.1 [26.7 kB]
Fetched 26.7 kB in 3s (9,726 B/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package unixodbc.
(Reading database ... 123586 files and directories currently installed.)
Preparing to unpack .../unixodbc_2.3.9-5ubuntu0.1_amd64.deb ...
Unpacking unixodbc (2.3.9-5ubuntu0.1) ...
Setting up unixodbc (2.3.9-5ubuntu0.1) ...
Processing triggers for man-db (2.10.2-1) ...

In [ ]:
odbcinst -j

NameError: name 'odbcinst' is not defined

In [ ]:
sudo apt-get install unixodbc unixodbc-dev

SyntaxError: invalid syntax (<ipython-input-40-3f4ec9a7584e>, line 1)

In [ ]:
!sudo apt-get install unixodbc unixodbc-dev

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
unixodbc-dev is already the newest version (2.3.9-5ubuntu0.1).
unixodbc is already the newest version (2.3.9-5ubuntu0.1).
0 upgraded, 0 newly installed, 0 to remove and 45 not upgraded.

Comprehensive Health Insurance Premium Calculator

Scenario: A health insurance company determines premiums based on multiple health factors.
Task: Create a program that calculates the insurance premium based on:

Age (Child: 0-18, Young Adult: 19-35, Adult: 36-55, Senior: 56+)
BMI Category (Underweight, Normal, Overweight, Obese)
Smoking Status (Non-smoker, Occasional, Regular)
Pre-existing Conditions (None, Minor, Major)
Family History (No risks, Minor risks, Major risks)

Rules:

Base premium: 5000 for Child, 10000 for Young Adult, 15000 for Adult, 20000 for Senior
Increase premium by:

20% for Overweight, 50% for Obese
30% for Occasional Smoker, 50% for Regular Smoker
20% for Minor pre-existing conditions, 50% for Major
10% for Minor family history risks, 25% for Major


Decrease premium by 10% for Underweight
Maximum increase: 150% of base premium
Add flat 1000 for each year above 30

In [ ]:
def calculate_final_fare(base_fare, peak_season=False, holiday_season=False, weekend=False, booking_time='regular', passenger_type='adult'):
    # Start with the base fare
    fare = base_fare

    # Apply seasonal adjustments
    if peak_season:
        fare *= 1.20
    elif holiday_season:
        fare *= 1.10

    # Apply weekend adjustment
    if weekend:
        fare *= 1.10

    # Apply booking time adjustments
    if booking_time == 'late':
        fare *= 1.15
    elif booking_time == 'early':
        fare *= 0.90

    # Apply passenger type adjustments
    if passenger_type == 'child':
        fare *= 0.75
    elif passenger_type == 'senior':
        fare *= 0.90

    # Ensure maximum combined discount and increase limits
    if fare < base_fare * 0.70:
        fare = base_fare * 0.70
    if fare > base_fare * 1.50:
        fare = base_fare * 1.50

    return fare

# Prompt the user for inputs
base_fare = float(input("Enter the base fare: "))
peak_season = input("Is it peak season? (yes/no): ").lower() == 'yes'
holiday_season = input("Is it holiday season? (yes/no): ").lower() == 'yes'
weekend = input("Is the travel on a weekend? (yes/no): ").lower() == 'yes'
booking_time = input("Enter the booking time (early, regular, late): ").lower()
passenger_type = input("Enter the passenger type (adult, child, senior): ").lower()

# Calculate the final fare
final_fare = calculate_final_fare(base_fare, peak_season, holiday_season, weekend, booking_time, passenger_type)

print(f"The final fare is: ${final_fare:.2f}")

Enter the base fare: 5300
Is it peak season? (yes/no): yes
Is it holiday season? (yes/no): yes
Is the travel on a weekend? (yes/no): no
Enter the booking time (early, regular, late): late
Enter the passenger type (adult, child, senior): senior
The final fare is: $6582.60

Comprehensive Health Insurance Premium Calculator

Scenario: A health insurance company determines premiums based on multiple health factors.
Task: Create a program that calculates the insurance premium based on:

Age (Child: 0-18, Young Adult: 19-35, Adult: 36-55, Senior: 56+)
BMI Category (Underweight, Normal, Overweight, Obese)
Smoking Status (Non-smoker, Occasional, Regular)
Pre-existing Conditions (None, Minor, Major)
Family History (No risks, Minor risks, Major risks)

Rules:

Base premium: 5000 for Child, 10000 for Young Adult, 15000 for Adult, 20000 for Senior
Increase premium by:

20% for Overweight, 50% for Obese
30% for Occasional Smoker, 50% for Regular Smoker
20% for Minor pre-existing conditions, 50% for Major
10% for Minor family history risks, 25% for Major


Decrease premium by 10% for Underweight
Maximum increase: 150% of base premium
Add flat 1000 for each year above 30

In [ ]:
def calculate_premium(age, bmi_category, smoking_status, pre_existing_conditions, family_history):
    # Determine base premium based on age
    if age <= 18:
        base_premium = 5000
    elif 19 <= age <= 35:
        base_premium = 10000
    elif 36 <= age <= 55:
        base_premium = 15000
    else:
        base_premium = 20000

    premium = base_premium

    # Adjust premium based on BMI category
    if bmi_category == 'underweight':
        premium *= 0.90
    elif bmi_category == 'overweight':
        premium *= 1.20
    elif bmi_category == 'obese':
        premium *= 1.50

    # Adjust premium based on smoking status
    if smoking_status == 'occasional':
        premium *= 1.30
    elif smoking_status == 'regular':
        premium *= 1.50

    # Adjust premium based on pre-existing conditions
    if pre_existing_conditions == 'minor':
        premium *= 1.20
    elif pre_existing_conditions == 'major':
        premium *= 1.50

    # Adjust premium based on family history
    if family_history == 'minor':
        premium *= 1.10
    elif family_history == 'major':
        premium *= 1.25

    # Cap the maximum increase
    if premium > base_premium * 2.50:
        premium = base_premium * 2.50

    # Add flat 1000 for each year above 30
    if age > 30:
        premium += (age - 30) * 1000

    return premium

# Prompt the user for inputs
age = int(input("Enter your age: "))
bmi_category = input("Enter your BMI category (underweight, normal, overweight, obese): ").lower()
smoking_status = input("Enter your smoking status (non-smoker, occasional, regular): ").lower()
pre_existing_conditions = input("Enter your pre-existing conditions status (none, minor, major): ").lower()
family_history = input("Enter your family history risk (no risks, minor risks, major risks): ").lower()

# Calculate the premium
final_premium = calculate_premium(age, bmi_category, smoking_status, pre_existing_conditions, family_history)

print(f"The calculated insurance premium is: ${final_premium:.2f}")

Enter your age: 56
Enter your BMI category (underweight, normal, overweight, obese): overweight
Enter your smoking status (non-smoker, occasional, regular): occasional
Enter your pre-existing conditions status (none, minor, major): minor
Enter your family history risk (no risks, minor risks, major risks): minor risks
The calculated insurance premium is: $63440.00

Advanced Academic Performance Evaluator

Scenario: A school uses a comprehensive system to evaluate student performance and provide tailored advice.
Task: Create a program that assesses a student's performance and provides recommendations based on:

Grades in core subjects (Math, Science, Language, Social Studies)
Extracurricular activities participation (None, Low, Medium, High)
Attendance rate (Excellent: >95%, Good: 90-95%, Fair: 80-89%, Poor: <80%)
Behavioral record (Excellent, Good, Needs Improvement, Poor)
Learning style (Visual, Auditory, Kinesthetic)

Rules:

Calculate GPA (4.0 scale) from core subject grades
Determine overall academic standing:

Outstanding: GPA > 3.5, Good attendance, Good or Excellent behavior
Good: GPA 3.0-3.5, At least Fair attendance, At least Needs Improvement behavior
Average: GPA 2.0-2.9, At least Fair attendance
Needs Improvement: GPA < 2.0 or Poor attendance

In [ ]:
def calculate_gpa(grades):
    return sum(grades) / len(grades)

def determine_academic_standing(gpa, attendance_rate, behavioral_record):
    if gpa > 3.5 and attendance_rate in ['excellent', 'good'] and behavioral_record in ['excellent', 'good']:
        return 'Outstanding'
    elif 3.0 <= gpa <= 3.5 and attendance_rate in ['excellent', 'good', 'fair'] and behavioral_record in ['excellent', 'good', 'needs improvement']:
        return 'Good'
    elif 2.0 <= gpa <= 2.9 and attendance_rate in ['excellent', 'good', 'fair']:
        return 'Average'
    else:
        return 'Needs Improvement'

def provide_recommendations(academic_standing, learning_style):
    recommendations = {
        'Outstanding': 'Keep up the great work! Continue to challenge yourself with advanced courses and leadership roles in extracurricular activities.',
        'Good': 'You are doing well! Consider seeking additional help in subjects you find challenging and stay involved in extracurricular activities.',
        'Average': 'Focus on improving your study habits and consider tutoring for subjects where you struggle. Maintain consistent attendance.',
        'Needs Improvement': 'Seek help from teachers and counselors to address academic and attendance issues. Develop a study plan and stick to it.',
    }

    learning_style_advice = {
        'visual': 'Use diagrams, charts, and written notes to enhance your learning.',
        'auditory': 'Participate in discussions and use audio recordings to reinforce learning.',
        'kinesthetic': 'Engage in hands-on activities and practical exercises to understand concepts better.'
    }

    return f"{recommendations[academic_standing]} Additionally, since you are a {learning_style} learner, {learning_style_advice[learning_style]}"

# Prompt the user for inputs
grades = []
subjects = ['Math', 'Science', 'Language', 'Social Studies']
for subject in subjects:
    grade = float(input(f"Enter your grade for {subject} (0.0 - 4.0 scale): "))
    grades.append(grade)

extracurricular_activities = input("Enter your level of participation in extracurricular activities (none, low, medium, high): ").lower()
attendance_rate = input("Enter your attendance rate (excellent: >95%, good: 90-95%, fair: 80-89%, poor: <80%): ").lower()
behavioral_record = input("Enter your behavioral record (excellent, good, needs improvement, poor): ").lower()
learning_style = input("Enter your learning style (visual, auditory, kinesthetic): ").lower()

# Calculate GPA
gpa = calculate_gpa(grades)

# Determine academic standing
academic_standing = determine_academic_standing(gpa, attendance_rate, behavioral_record)

# Provide recommendations
recommendations = provide_recommendations(academic_standing, learning_style)

print(f"\nYour GPA is: {gpa:.2f}")
print(f"Your academic standing is: {academic_standing}")
print(f"Recommendations: {recommendations}")

Enter your grade for Math (0.0 - 4.0 scale): 3.6
Enter your grade for Science (0.0 - 4.0 scale): 3.1
Enter your grade for Language (0.0 - 4.0 scale): 4
Enter your grade for Social Studies (0.0 - 4.0 scale): 3.3
Enter your level of participation in extracurricular activities (none, low, medium, high): medium
Enter your attendance rate (excellent: >95%, good: 90-95%, fair: 80-89%, poor: <80%): good
Enter your behavioral record (excellent, good, needs improvement, poor): poor
Enter your learning style (visual, auditory, kinesthetic): visual

Your GPA is: 3.50
Your academic standing is: Needs Improvement
Recommendations: Seek help from teachers and counselors to address academic and attendance issues. Develop a study plan and stick to it. Additionally, since you are a visual learner, Use diagrams, charts, and written notes to enhance your learning.

loops

In [ ]:
i=1
while i<=5:
  print("Jump")
  i=i+1

Jump
Jump
Jump
Jump
Jump

script that calculates the average percentage based on the marks entered for six subjects (Math, English, Physics, Chemistry, Geography, Business):

In [ ]:
# Function to calculate average percentage and determine result
def calculate_average_and_result(marks):
    total_marks = sum(marks)
    average_percentage = total_marks / len(marks)

    if average_percentage < 50:
        result = "Fail"
    elif 50 <= average_percentage < 60:
        result = "Pass"
    elif 60 <= average_percentage < 70:
        result = "Credit"
    else:
        result = "Distinction"

    return average_percentage, result

# List of subjects
subjects = ["Maths", "English", "Physics", "Chemistry", "Business"]

# List to store marks
marks = []

# Loop to get marks for each subject
for subject in subjects:
    while True:
        try:
            mark = float(input(f"Enter marks for {subject}: "))
            if 0 <= mark <= 100:
                marks.append(mark)
                break
            else:
                print("Please enter a valid mark between 0 and 100.")
        except ValueError:
            print("Please enter a valid number.")

# Calculate average percentage and result
average_percentage, result = calculate_average_and_result(marks)

# Print the results
print(f"\nYour average percentage is: {average_percentage:.2f}%")
print(f"Your result is: {result}")

Enter marks for Maths: 40
Enter marks for English: 60
Enter marks for Physics: 57
Enter marks for Chemistry: 68
Enter marks for Business: 80

Your average percentage is: 61.00%
Your result is: Credit

code to use use loop to confirm password three times after which user is prompted to reset password.

In [ ]:
actualPass = 'admin'
i = 1

while i < 4:
    password = input("Enter the password: ")
    if password == actualPass:
        print("Login Successful")
        break
    else:
        print("Retry")
    i = i + 1

if i == 4:
    change_password = input("You have exhausted all retries. Would you like to change the password? (yes/no): ").lower()
    if change_password == 'yes':
        new_password = input("Enter the new password: ")
        confirm_password = input("Confirm the new password: ")
        if new_password == confirm_password:
            actualPass = new_password
            print("Password changed successfully.")
        else:
            print("Passwords do not match. Password change failed.")
    else:
        print("Password change not initiated.")

Enter the password: sdfdsf
Retry
Enter the password: sdfds
Retry
Enter the password: sdfsd
Retry
You have exhausted all retries. Would you like to change the password? (yes/no): yes
Enter the new password: admin
Confirm the new password: admin
Password changed successfully.

Countdown Timer
Create a program that simulates a countdown timer.
Start with a variable seconds  set to 10.
Use a while loop to count down from 10 to 1, printing each number.
After the loop ends, print "Time's up!".

In [ ]:
import time

# Set the initial countdown time in seconds
seconds = 10

# Start the countdown
while seconds > 0:
    print(seconds)
    time.sleep(1)  # Wait for 1 second
    seconds -= 1

# Print the final message
print("Time's up!")

10
9
8
7
6
5
4
3
2
1
Time's up!

Simple Interest Calculator
Develop a program that calculates simple interest over a period of years.
Set initial variables: principal = 1000, rate = 0.05 (5%), years = 5.
Use a while loop to calculate and print the balance for each year.
For each year, calculate the interest and add it to the principal.

In [ ]:
# Set initial variables
principal = 1000
rate = 0.05  # 5% interest rate
years = 5

# Initialize a variable to track the current year
current_year = 1

# Calculate and print the balance for each year
while current_year <= years:
    # Calculate interest for the current year
    interest = principal * rate
    # Add the interest to the principal
    principal += interest
    # Print the balance for the current year
    print(f"Year {current_year}: Balance = ${principal:.2f}")
    # Move to the next year
    current_year += 1

Year 1: Balance = $1050.00
Year 2: Balance = $1102.50
Year 3: Balance = $1157.62
Year 4: Balance = $1215.51
Year 5: Balance = $1276.28

In [ ]:
# Set initial variables
principal = 1000
rate = 0.05  # 5% interest rate

# Prompt the user for the number of years
years = int(input("Enter the number of years: "))

# Initialize a variable to track the current year
current_year = 1

# Calculate and print the balance for each year
while current_year <= years:
    # Calculate interest for the current year
    interest = principal * rate
    # Add the interest to the principal
    principal += interest
    # Print the balance for the current year
    print(f"Year {current_year}: Balance = ${principal:.2f}")
    # Move to the next year
    current_year += 1

Enter the number of years: 3
Year 1: Balance = $1050.00
Year 2: Balance = $1102.50
Year 3: Balance = $1157.62

**list**   ordered changable and allows duplicates

In [ ]:
abc = [1,2,3,4,5]
xyz = ['Stephen','Jacinta','Ayden']
newlist =[1,'Stephen', 4.5]

In [ ]:
print(abc)
print(type(abc))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
print (abc[0])
print (abc[3])

1
4

In [ ]:
xyz[1] = 'Clement'
print(xyz[1])

Clement

In [ ]:
abc =[1,2,3,2,1,6,5,7]
print(len(abc))

8

In [ ]:
print (abc[-4])  #index in python starts from zero

1

In [ ]:
print(abc[1:4])   # fisrt index and last index excluded

[2, 3, 2]

In [ ]:
abc.append(30)
print(abc)

[1, 2, 3, 2, 1, 6, 5, 7, 30]

In [ ]:
print(abc)
print(xyz)
abc.extend(xyz)
print(abc)

[1, 2, 3, 2, 1, 6, 5, 7, 30, 'Stephen', 'Clement', 'Ayden']
['Stephen', 'Clement', 'Ayden']
[1, 2, 3, 2, 1, 6, 5, 7, 30, 'Stephen', 'Clement', 'Ayden', 'Stephen', 'Clement', 'Ayden']

In [ ]:
abc.remove(5)  # remove based on item
print (abc)

[1, 2, 3, 2, 1, 6, 7, 30, 'Stephen', 'Clement', 'Ayden', 'Stephen', 'Clement', 'Ayden']

In [ ]:
abc.pop(7)  # remove based on index
print(abc)

[1, 2, 3, 2, 1, 6, 7, 'Clement', 'Ayden', 'Stephen', 'Clement', 'Ayden']

In [ ]:
del abc[3]
print(abc)

[1, 2, 3, 1, 6, 7, 'Clement', 'Ayden', 'Stephen', 'Clement', 'Ayden']

In [ ]:
for i in abc:   #iterate
  print(i)

1
2
3
1
6
7
Clement
Ayden
Stephen
Clement
Ayden

In [ ]:
abc.clear()
print(abc)
print(len(abc))

[]
0

**Tuple**  ordered, not changeable, uses curved brackets, use square brackets to access

In [ ]:
customer = ('Stephen','Waigi', 'Data and Cloud')
print(customer)
print(type(customer))
print(len(customer))
print(customer[2])

('Stephen', 'Waigi', 'Data and Cloud')
<class 'tuple'>
3
Data and Cloud

In [ ]:
customerList = list(customer)
customerList.append('Data engineering')
customer = tuple(customerList)
print(customer)

('Stephen', 'Waigi', 'Data and Cloud', 'Data engineering')

**set** uses curly brackets, can't allow duplicate, unordered, addition and delition allowed but update not allowed

In [ ]:
countries = {'Rwanda','Rwanda','Tanzania','Kenya'}
print(countries)
print(type(countries))
print(len(countries))

{'Rwanda', 'Kenya', 'Tanzania'}
<class 'set'>
3

In [ ]:
countries.remove('Rwanda')
print(countries)

{'Kenya', 'Tanzania'}

**Dictionary**  does not allow duplicate and uses key Value Pair and is ordered and is editable

In [ ]:
employee ={"Name": "Stephen", "Age":40, "City": "Nairobi", "Country": "Kenya"}
print(employee)
print(type(employee))
print(len(employee))

{'Name': 'Stephen', 'Age': 40, 'City': 'Nairobi', 'Country': 'Kenya'}
<class 'dict'>
4

In [ ]:
print(employee['Name'])
print(employee['Age'])
print(employee['City'])
print(employee['Country'])
print(employee.keys())
print(employee.values())

Stephen
40
Nairobi
Kenya
dict_keys(['Name', 'Age', 'City', 'Country'])
dict_values(['Stephen', 40, 'Nairobi', 'Kenya'])

In [ ]:
print(employee.keys())
keys = employee.keys()
employee["salary"] = 100000

for i in keys:
  print(i)

dict_keys(['Name', 'Age', 'City', 'Country'])
Name
Age
City
Country
salary

imagine that you have a to do list. Take the 5 items from the user to add to the todo list. Ask user which item is finished, then remove it from the list. print the remaining items in the todo list.

In [ ]:
import os
import json

# File to store the to-do list
todo_file = "todo_list.json"

# Default to-do list
default_todo_list = [
    "update stocks",
    "call account customers",
    "submit daily standup report",
    "forward pending deliveries",
    "compile weekly casuals wages"
]

def load_todo_list():
    if os.path.exists(todo_file):
        with open(todo_file, "r") as file:
            return json.load(file)
    else:
        return default_todo_list

def save_todo_list(todo_list):
    with open(todo_file, "w") as file:
        json.dump(todo_list, file)

# Load the to-do list
todo_list = load_todo_list()

if todo_list:
    # Display the to-do list
    print("To-do list:")
    for index, item in enumerate(todo_list, start=1):
        print(f"{index}. {item}")

    # Ask user which item is finished
    finished_item = int(input("\nWhich item is finished (enter the number): "))

    # Remove the finished item from the list
    if 1 <= finished_item <= len(todo_list):
        finished_task = todo_list.pop(finished_item - 1)
        print(f"\nRemoved finished item: {finished_task}")
        save_todo_list(todo_list)
    else:
        print("\nInvalid item number.")
else:
    print("\nAll items done, please create a new to-do list.")

# Display the remaining to-do list
if todo_list:
    print("\nRemaining to-do list:")
    for index, item in enumerate(todo_list, start=1):
        print(f"{index}. {item}")
else:
    print("\nAll items done, please create a new to-do list.")

All items done, please create a new to-do list.

All items done, please create a new to-do list.

In [ ]:
import os
import json

# File to store the to-do list
todo_file = "todo_list.json"

def load_todo_list():
    if os.path.exists(todo_file):
        with open(todo_file, "r") as file:
            return json.load(file)
    else:
        return []

def save_todo_list(todo_list):
    with open(todo_file, "w") as file:
        json.dump(todo_list, file)

def add_items_to_todo_list(todo_list):
    print("Enter your to-do items (type 'done' when finished):")
    while len(todo_list) < 5:
        item = input("Add item: ")
        if item.lower() == 'done':
            break
        if len(todo_list) < 5:
            todo_list.append(item)
            print(f"Item added. You can add {5 - len(todo_list)} more items.")
        else:
            print("To-do list is full. You cannot add more than 5 items.")
    save_todo_list(todo_list)

def main():
    # Load the to-do list
    todo_list = load_todo_list()

    # If the list is empty, prompt the user to add items
    if not todo_list:
        add_items_to_todo_list(todo_list)

    while todo_list:
        # Display the to-do list
        print("\nTo-do list:")
        for index, item in enumerate(todo_list, start=1):
            print(f"{index}. {item}")

        # Ask user which item is finished
        try:
            finished_item = int(input("\nWhich item is finished (enter the number): "))
            if 1 <= finished_item <= len(todo_list):
                finished_task = todo_list.pop(finished_item - 1)
                print(f"\nRemoved finished item: {finished_task}")
                save_todo_list(todo_list)
            else:
                print("\nInvalid item number.")
        except ValueError:
            print("\nPlease enter a valid number.")

        # If all items are done, notify the user and ask for next action
        if not todo_list:
            print("\nAll items done.")
            next_action = input("Do you want to create a new to-do list? (yes/no): ").strip().lower()
            if next_action == 'yes':
                add_items_to_todo_list(todo_list)
            else:
                print("Exiting the to-do list manager. Goodbye!")
                break

# Final message if all items are done
if __name__ == "__main__":
    main()

Enter your to-do items (type 'done' when finished):
Add item: create database
Item added. You can add 4 more items.
Add item: create table schema
Item added. You can add 3 more items.
Add item: import data into table
Item added. You can add 2 more items.
Add item: create indexes
Item added. You can add 1 more items.
Add item: backup database
Item added. You can add 0 more items.

To-do list:
1. create database
2. create table schema
3. import data into table
4. create indexes
5. backup database

Which item is finished (enter the number): 1

Removed finished item: create database

To-do list:
1. create table schema
2. import data into table
3. create indexes
4. backup database

Which item is finished (enter the number): 4

Removed finished item: backup database

To-do list:
1. create table schema
2. import data into table
3. create indexes

Which item is finished (enter the number): 2

Removed finished item: import data into table

To-do list:
1. create table schema
2. create indexes

Which item is finished (enter the number): 3

Invalid item number.

To-do list:
1. create table schema
2. create indexes

Which item is finished (enter the number): 2

Removed finished item: create indexes

To-do list:
1. create table schema

Which item is finished (enter the number): 1

Removed finished item: create table schema

All items done.
Do you want to create a new to-do list? (yes/no): no
Exiting the to-do list manager. Goodbye!

**user defined functions**

In [ ]:
def display(message):
  print(message)

x=20
y=35
z=x+y
display(z)
display("Hello all")

55
Hello all

In [ ]:
def add (x,y):
  return x+y

def substract(x,y):
  return x-y

def multiply(x,y):
  return x*y

def divide(x,y):
  return x/y

print(add(10,20))
print(substract(10,20))
print(multiply(10,20))
print(divide(10,20))

30
-10
200
0.5

Module /library

In [ ]:
import math
print(dir(math))
def calculate_average_and_result(marks):
    total_marks = sum(marks)
    total_subjects = len(marks)
    average_percentage = (total_marks / (total_subjects * 100)) * 100

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

class and objects

In [ ]:
class Vehicle:
  name = ''
  color = ''

# Create the instance outside the class definition
car = Vehicle()
car.name = 'BMW'
car.color = 'red'
print(car.name)
print(car.color)

BMW
red

In [ ]:
class Car:
  def __init__(self, name, color):
    self.name = name
    self.color = color

In [ ]:
class Employee:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        print("Inside the Employee init function:")

# Create instances of Employee
c1 = Employee('Stephen', 40, 50000)
c2 = Employee('Jacinta', 36, 45000)

# Print the attributes for Stephen
print(c1.name)
print(c1.age)
print(c1.salary)

# Print the attributes for Jacinta
print(c2.name)
print(c2.age)
print(c2.salary)

Inside the Employee init function:
Inside the Employee init function:
Stephen
40
50000
Jacinta
36
45000

In [ ]:
# Print the attributes for Jacinta
print(c2.name)
print(c2.age)
print(c2.salary)

Jacinta
36
45000

exception handling

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.7.4)

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=528e428682a2fd9ef4e775c80692164843bda07bbb60b72afa317c09b4612a77
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

pyspark

In [ ]:
# Import the necessary PySpark module
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("MySparkApp").getOrCreate()

# Sample data
data = [("Alice", 25), ("Bob", 30)]
# Define the schema
schema = ["name", "age"]

# Now you can use the spark object to create a DataFrame
df = spark.createDataFrame(data, schema)

# Show the DataFrame
df.show()

+-----+---+
| name|age|
+-----+---+
|Alice| 25|
|  Bob| 30|
+-----+---+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField  # Import both StructType and StructField

help(StructType)
help(StructField)  # Now StructField is accessible

data = [(1, 'Stephen'), (2, 'Ayden')]
schema = ["id", "name"]
df = spark.createDataFrame(data, schema)
df.show()

Help on class StructType in module pyspark.sql.types:

class StructType(DataType)
 |  StructType(fields: Optional[List[pyspark.sql.types.StructField]] = None)
 |
 |  Struct type, consisting of a list of :class:`StructField`.
 |
 |  This is the data type representing a :class:`Row`.
 |
 |  Iterating a :class:`StructType` will iterate over its :class:`StructField`\s.
 |  A contained :class:`StructField` can be accessed by its name or position.
 |
 |  Examples
 |  --------
 |  >>> from pyspark.sql.types import *
 |  >>> struct1 = StructType([StructField("f1", StringType(), True)])
 |  >>> struct1["f1"]
 |  StructField('f1', StringType(), True)
 |  >>> struct1[0]
 |  StructField('f1', StringType(), True)
 |
 |  >>> struct1 = StructType([StructField("f1", StringType(), True)])
 |  >>> struct2 = StructType([StructField("f1", StringType(), True)])
 |  >>> struct1 == struct2
 |  True
 |  >>> struct1 = StructType([StructField("f1", CharType(10), True)])
 |  >>> struct2 = StructType([StructField("f1", CharType(10), True)])
 |  >>> struct1 == struct2
 |  True
 |  >>> struct1 = StructType([StructField("f1", VarcharType(10), True)])
 |  >>> struct2 = StructType([StructField("f1", VarcharType(10), True)])
 |  >>> struct1 == struct2
 |  True
 |  >>> struct1 = StructType([StructField("f1", StringType(), True)])
 |  >>> struct2 = StructType([StructField("f1", StringType(), True),
 |  ...     StructField("f2", IntegerType(), False)])
 |  >>> struct1 == struct2
 |  False
 |
 |  The below example demonstrates how to create a DataFrame based on a struct created
 |  using class:`StructType` and class:`StructField`:
 |
 |  >>> data = [("Alice", ["Java", "Scala"]), ("Bob", ["Python", "Scala"])]
 |  >>> schema = StructType([
 |  ...     StructField("name", StringType()),
 |  ...     StructField("languagesSkills", ArrayType(StringType())),
 |  ... ])
 |  >>> df = spark.createDataFrame(data=data, schema=schema)
 |  >>> df.printSchema()
 |  root
 |   |-- name: string (nullable = true)
 |   |-- languagesSkills: array (nullable = true)
 |   |    |-- element: string (containsNull = true)
 |  >>> df.show()
 |  +-----+---------------+
 |  | name|languagesSkills|
 |  +-----+---------------+
 |  |Alice|  [Java, Scala]|
 |  |  Bob|[Python, Scala]|
 |  +-----+---------------+
 |
 |  Method resolution order:
 |      StructType
 |      DataType
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getitem__(self, key: Union[str, int]) -> pyspark.sql.types.StructField
 |      Access fields by name or slice.
 |
 |  __init__(self, fields: Optional[List[pyspark.sql.types.StructField]] = None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self) -> Iterator[pyspark.sql.types.StructField]
 |      Iterate the fields
 |
 |  __len__(self) -> int
 |      Return the number of fields.
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  add(self, field: Union[str, pyspark.sql.types.StructField], data_type: Union[str, pyspark.sql.types.DataType, NoneType] = None, nullable: bool = True, metadata: Optional[Dict[str, Any]] = None) -> 'StructType'
 |      Construct a :class:`StructType` by adding new elements to it, to define the schema.
 |      The method accepts either:
 |
 |          a) A single parameter which is a :class:`StructField` object.
 |          b) Between 2 and 4 parameters as (name, data_type, nullable (optional),
 |             metadata(optional). The data_type parameter may be either a String or a
 |             :class:`DataType` object.
 |
 |      Parameters
 |      ----------
 |      field : str or :class:`StructField`
 |          Either the name of the field or a :class:`StructField` object
 |      data_type : :class:`DataType`, optional
 |          If present, the DataType of the :class:`StructField` to create
 |      nullable : bool, optional
 |          Whether the field to add should be nullable (default True)
 |      metadata : dict, optional
 |          Any additional metadata (default None)
 |
 |      Returns
 |      -------
 |      :class:`StructType`
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.types import IntegerType, StringType, StructField, StructType
 |      >>> struct1 = StructType().add("f1", StringType(), True).add("f2", StringType(), True, None)
 |      >>> struct2 = StructType([StructField("f1", StringType(), True),
 |      ...     StructField("f2", StringType(), True, None)])
 |      >>> struct1 == struct2
 |      True
 |      >>> struct1 = StructType().add(StructField("f1", StringType(), True))
 |      >>> struct2 = StructType([StructField("f1", StringType(), True)])
 |      >>> struct1 == struct2
 |      True
 |      >>> struct1 = StructType().add("f1", "string", True)
 |      >>> struct2 = StructType([StructField("f1", StringType(), True)])
 |      >>> struct1 == struct2
 |      True
 |
 |  fieldNames(self) -> List[str]
 |      Returns all field names in a list.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.types import StringType, StructField, StructType
 |      >>> struct = StructType([StructField("f1", StringType(), True)])
 |      >>> struct.fieldNames()
 |      ['f1']
 |
 |  fromInternal(self, obj: Tuple) -> 'Row'
 |      Converts an internal SQL object into a native Python object.
 |
 |  jsonValue(self) -> Dict[str, Any]
 |
 |  needConversion(self) -> bool
 |      Does this type needs conversion between Python object and internal SQL object.
 |
 |      This is used to avoid the unnecessary conversion for ArrayType/MapType/StructType.
 |
 |  simpleString(self) -> str
 |
 |  toInternal(self, obj: Tuple) -> Tuple
 |      Converts a Python object into an internal SQL object.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromJson(json: Dict[str, Any]) -> 'StructType' from builtins.type
 |      Constructs :class:`StructType` from a schema defined in JSON format.
 |
 |      Below is a JSON schema it must adhere to::
 |
 |          {
 |            "title":"StructType",
 |            "description":"Schema of StructType in json format",
 |            "type":"object",
 |            "properties":{
 |               "fields":{
 |                  "description":"Array of struct fields",
 |                  "type":"array",
 |                  "items":{
 |                      "type":"object",
 |                      "properties":{
 |                         "name":{
 |                            "description":"Name of the field",
 |                            "type":"string"
 |                         },
 |                         "type":{
 |                            "description": "Type of the field. Can either be
 |                                            another nested StructType or primitive type",
 |                            "type":"object/string"
 |                         },
 |                         "nullable":{
 |                            "description":"If nulls are allowed",
 |                            "type":"boolean"
 |                         },
 |                         "metadata":{
 |                            "description":"Additional metadata to supply",
 |                            "type":"object"
 |                         },
 |                         "required":[
 |                            "name",
 |                            "type",
 |                            "nullable",
 |                            "metadata"
 |                         ]
 |                      }
 |                 }
 |              }
 |           }
 |         }
 |
 |      Parameters
 |      ----------
 |      json : dict or a dict-like object e.g. JSON object
 |          This "dict" must have "fields" key that returns an array of fields
 |          each of which must have specific keys (name, type, nullable, metadata).
 |
 |      Returns
 |      -------
 |      :class:`StructType`
 |
 |      Examples
 |      --------
 |      >>> json_str = '''
 |      ...  {
 |      ...      "fields": [
 |      ...          {
 |      ...              "metadata": {},
 |      ...              "name": "Person",
 |      ...              "nullable": true,
 |      ...              "type": {
 |      ...                  "fields": [
 |      ...                      {
 |      ...                          "metadata": {},
 |      ...                          "name": "name",
 |      ...                          "nullable": false,
 |      ...                          "type": "string"
 |      ...                      },
 |      ...                      {
 |      ...                          "metadata": {},
 |      ...                          "name": "surname",
 |      ...                          "nullable": false,
 |      ...                          "type": "string"
 |      ...                      }
 |      ...                  ],
 |      ...                  "type": "struct"
 |      ...              }
 |      ...          }
 |      ...      ],
 |      ...      "type": "struct"
 |      ...  }
 |      ...  '''
 |      >>> import json
 |      >>> scheme = StructType.fromJson(json.loads(json_str))
 |      >>> scheme.simpleString()
 |      'struct<Person:struct<name:string,surname:string>>'
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from DataType:
 |
 |  __eq__(self, other: Any) -> bool
 |      Return self==value.
 |
 |  __hash__(self) -> int
 |      Return hash(self).
 |
 |  __ne__(self, other: Any) -> bool
 |      Return self!=value.
 |
 |  json(self) -> str
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from DataType:
 |
 |  typeName() -> str from builtins.type
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from DataType:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

Help on class StructField in module pyspark.sql.types:

class StructField(DataType)
 |  StructField(name: str, dataType: pyspark.sql.types.DataType, nullable: bool = True, metadata: Optional[Dict[str, Any]] = None)
 |
 |  A field in :class:`StructType`.
 |
 |  Parameters
 |  ----------
 |  name : str
 |      name of the field.
 |  dataType : :class:`DataType`
 |      :class:`DataType` of the field.
 |  nullable : bool, optional
 |      whether the field can be null (None) or not.
 |  metadata : dict, optional
 |      a dict from string to simple type that can be toInternald to JSON automatically
 |
 |  Examples
 |  --------
 |  >>> from pyspark.sql.types import StringType, StructField
 |  >>> (StructField("f1", StringType(), True)
 |  ...      == StructField("f1", StringType(), True))
 |  True
 |  >>> (StructField("f1", StringType(), True)
 |  ...      == StructField("f2", StringType(), True))
 |  False
 |
 |  Method resolution order:
 |      StructField
 |      DataType
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, name: str, dataType: pyspark.sql.types.DataType, nullable: bool = True, metadata: Optional[Dict[str, Any]] = None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  fromInternal(self, obj: ~T) -> ~T
 |      Converts an internal SQL object into a native Python object.
 |
 |  jsonValue(self) -> Dict[str, Any]
 |
 |  needConversion(self) -> bool
 |      Does this type needs conversion between Python object and internal SQL object.
 |
 |      This is used to avoid the unnecessary conversion for ArrayType/MapType/StructType.
 |
 |  simpleString(self) -> str
 |
 |  toInternal(self, obj: ~T) -> ~T
 |      Converts a Python object into an internal SQL object.
 |
 |  typeName(self) -> str
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromJson(json: Dict[str, Any]) -> 'StructField' from builtins.type
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from DataType:
 |
 |  __eq__(self, other: Any) -> bool
 |      Return self==value.
 |
 |  __hash__(self) -> int
 |      Return hash(self).
 |
 |  __ne__(self, other: Any) -> bool
 |      Return self!=value.
 |
 |  json(self) -> str
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from DataType:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

+---+-------+
| id|   name|
+---+-------+
|  1|Stephen|
|  2|  Ayden|
+---+-------+

In [ ]:
from pyspark.sql.types import *

data = [(1, 'Stephen'), (2, 'Ayden')]
schema = StructType([StructField(name="id", dataType=IntegerType(), nullable=True),
    StructField(name="name", dataType=StringType(), nullable=True)
])
df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+---+-------+
| id|   name|
+---+-------+
|  1|Stephen|
|  2|  Ayden|
+---+-------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
data = [{'id': 1, "name": 'Stephen'},
        {'id': 2, "name": 'Ayden'}]

df = spark.createDataFrame(data)
df.show()
df.printSchema()

+---+-------+
| id|   name|
+---+-------+
|  1|Stephen|
|  2|  Ayden|
+---+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
help(spark.read)

Help on DataFrameReader in module pyspark.sql.readwriter object:

class DataFrameReader(OptionUtils)
 |  DataFrameReader(spark: 'SparkSession')
 |
 |  Interface used to load a :class:`DataFrame` from external storage systems
 |  (e.g. file systems, key-value stores, etc). Use :attr:`SparkSession.read`
 |  to access this.
 |
 |  .. versionadded:: 1.4.0
 |
 |  .. versionchanged:: 3.4.0
 |      Supports Spark Connect.
 |
 |  Method resolution order:
 |      DataFrameReader
 |      OptionUtils
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, spark: 'SparkSession')
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  csv(self, path: Union[str, List[str]], schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, sep: Optional[str] = None, encoding: Optional[str] = None, quote: Optional[str] = None, escape: Optional[str] = None, comment: Optional[str] = None, header: Union[bool, str, NoneType] = None, inferSchema: Union[bool, str, NoneType] = None, ignoreLeadingWhiteSpace: Union[bool, str, NoneType] = None, ignoreTrailingWhiteSpace: Union[bool, str, NoneType] = None, nullValue: Optional[str] = None, nanValue: Optional[str] = None, positiveInf: Optional[str] = None, negativeInf: Optional[str] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, maxColumns: Union[str, int, NoneType] = None, maxCharsPerColumn: Union[str, int, NoneType] = None, maxMalformedLogPerPartition: Union[str, int, NoneType] = None, mode: Optional[str] = None, columnNameOfCorruptRecord: Optional[str] = None, multiLine: Union[bool, str, NoneType] = None, charToEscapeQuoteEscaping: Optional[str] = None, samplingRatio: Union[str, float, NoneType] = None, enforceSchema: Union[bool, str, NoneType] = None, emptyValue: Optional[str] = None, locale: Optional[str] = None, lineSep: Optional[str] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None, unescapedQuoteHandling: Optional[str] = None) -> 'DataFrame'
 |      Loads a CSV file and returns the result as a  :class:`DataFrame`.
 |
 |      This function will go through the input once to determine the input schema if
 |      ``inferSchema`` is enabled. To avoid going through the entire data once, disable
 |      ``inferSchema`` option or specify the schema explicitly using ``schema``.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      path : str or list
 |          string, or list of strings, for input path(s),
 |          or RDD of Strings storing CSV rows.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          an optional :class:`pyspark.sql.types.StructType` for the input schema
 |          or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
 |          for the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      Write a DataFrame into a CSV file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a CSV file
 |      ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
 |      ...     df.write.mode("overwrite").format("csv").save(d)
 |      ...
 |      ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon'.
 |      ...     spark.read.csv(d, schema=df.schema, nullValue="Hyukjin Kwon").show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |100|NULL|
 |      +---+----+
 |
 |  format(self, source: str) -> 'DataFrameReader'
 |      Specifies the input data source format.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      source : str
 |          string, name of the data source, e.g. 'json', 'parquet'.
 |
 |      Examples
 |      --------
 |      >>> spark.read.format('json')
 |      <...readwriter.DataFrameReader object ...>
 |
 |      Write a DataFrame into a JSON file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a JSON file
 |      ...     spark.createDataFrame(
 |      ...         [{"age": 100, "name": "Hyukjin Kwon"}]
 |      ...     ).write.mode("overwrite").format("json").save(d)
 |      ...
 |      ...     # Read the JSON file as a DataFrame.
 |      ...     spark.read.format('json').load(d).show()
 |      +---+------------+
 |      |age|        name|
 |      +---+------------+
 |      |100|Hyukjin Kwon|
 |      +---+------------+
 |
 |  jdbc(self, url: str, table: str, column: Optional[str] = None, lowerBound: Union[str, int, NoneType] = None, upperBound: Union[str, int, NoneType] = None, numPartitions: Optional[int] = None, predicates: Optional[List[str]] = None, properties: Optional[Dict[str, str]] = None) -> 'DataFrame'
 |      Construct a :class:`DataFrame` representing the database table named ``table``
 |      accessible via JDBC URL ``url`` and connection ``properties``.
 |
 |      Partitions of the table will be retrieved in parallel if either ``column`` or
 |      ``predicates`` is specified. ``lowerBound``, ``upperBound`` and ``numPartitions``
 |      is needed when ``column`` is specified.
 |
 |      If both ``column`` and ``predicates`` are specified, ``column`` will be used.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      table : str
 |          the name of the table
 |      column : str, optional
 |          alias of ``partitionColumn`` option. Refer to ``partitionColumn`` in
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html#data-source-option>`_
 |          for the version you use.
 |      predicates : list, optional
 |          a list of expressions suitable for inclusion in WHERE clauses;
 |          each one defines one partition of the :class:`DataFrame`
 |      properties : dict, optional
 |          a dictionary of JDBC database connection arguments. Normally at
 |          least properties "user" and "password" with their corresponding values.
 |          For example { 'user' : 'SYSTEM', 'password' : 'mypassword' }
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html#data-source-option>`_
 |          for the version you use.
 |
 |          .. # noqa
 |
 |      Notes
 |      -----
 |      Don't create too many partitions in parallel on a large cluster;
 |      otherwise Spark might crash your external database systems.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |  json(self, path: Union[str, List[str], pyspark.rdd.RDD[str]], schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, primitivesAsString: Union[bool, str, NoneType] = None, prefersDecimal: Union[bool, str, NoneType] = None, allowComments: Union[bool, str, NoneType] = None, allowUnquotedFieldNames: Union[bool, str, NoneType] = None, allowSingleQuotes: Union[bool, str, NoneType] = None, allowNumericLeadingZero: Union[bool, str, NoneType] = None, allowBackslashEscapingAnyCharacter: Union[bool, str, NoneType] = None, mode: Optional[str] = None, columnNameOfCorruptRecord: Optional[str] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, multiLine: Union[bool, str, NoneType] = None, allowUnquotedControlChars: Union[bool, str, NoneType] = None, lineSep: Optional[str] = None, samplingRatio: Union[str, float, NoneType] = None, dropFieldIfAllNull: Union[bool, str, NoneType] = None, encoding: Optional[str] = None, locale: Optional[str] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None, allowNonNumericNumbers: Union[bool, str, NoneType] = None) -> 'DataFrame'
 |      Loads JSON files and returns the results as a :class:`DataFrame`.
 |
 |      `JSON Lines <http://jsonlines.org/>`_ (newline-delimited JSON) is supported by default.
 |      For JSON (one record per file), set the ``multiLine`` parameter to ``true``.
 |
 |      If the ``schema`` parameter is not specified, this function goes
 |      through the input once to determine the input schema.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      path : str, list or :class:`RDD`
 |          string represents path to the JSON dataset, or a list of paths,
 |          or RDD of Strings storing JSON objects.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          an optional :class:`pyspark.sql.types.StructType` for the input schema or
 |          a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-json.html#data-source-option>`_
 |          for the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      Write a DataFrame into a JSON file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a JSON file
 |      ...     spark.createDataFrame(
 |      ...         [{"age": 100, "name": "Hyukjin Kwon"}]
 |      ...     ).write.mode("overwrite").format("json").save(d)
 |      ...
 |      ...     # Read the JSON file as a DataFrame.
 |      ...     spark.read.json(d).show()
 |      +---+------------+
 |      |age|        name|
 |      +---+------------+
 |      |100|Hyukjin Kwon|
 |      +---+------------+
 |
 |  load(self, path: Union[str, List[str], NoneType] = None, format: Optional[str] = None, schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, **options: 'OptionalPrimitiveType') -> 'DataFrame'
 |      Loads data from a data source and returns it as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      path : str or list, optional
 |          optional string or a list of string for file-system backed data sources.
 |      format : str, optional
 |          optional string for format of the data source. Default to 'parquet'.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          optional :class:`pyspark.sql.types.StructType` for the input schema
 |          or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |      **options : dict
 |          all other string options
 |
 |      Examples
 |      --------
 |      Load a CSV file with format, schema and options specified.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a CSV file with a header
 |      ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
 |      ...     df.write.option("header", True).mode("overwrite").format("csv").save(d)
 |      ...
 |      ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon',
 |      ...     # and 'header' option set to `True`.
 |      ...     df = spark.read.load(
 |      ...         d, schema=df.schema, format="csv", nullValue="Hyukjin Kwon", header=True)
 |      ...     df.printSchema()
 |      ...     df.show()
 |      root
 |       |-- age: long (nullable = true)
 |       |-- name: string (nullable = true)
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |100|NULL|
 |      +---+----+
 |
 |  option(self, key: str, value: 'OptionalPrimitiveType') -> 'DataFrameReader'
 |      Adds an input option for the underlying data source.
 |
 |      .. versionadded:: 1.5.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      key : str
 |          The key for the option to set.
 |      value
 |          The value for the option to set.
 |
 |      Examples
 |      --------
 |      >>> spark.read.option("key", "value")
 |      <...readwriter.DataFrameReader object ...>
 |
 |      Specify the option 'nullValue' with reading a CSV file.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a CSV file
 |      ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
 |      ...     df.write.mode("overwrite").format("csv").save(d)
 |      ...
 |      ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon'.
 |      ...     spark.read.schema(df.schema).option(
 |      ...         "nullValue", "Hyukjin Kwon").format('csv').load(d).show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |100|NULL|
 |      +---+----+
 |
 |  options(self, **options: 'OptionalPrimitiveType') -> 'DataFrameReader'
 |      Adds input options for the underlying data source.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      **options : dict
 |          The dictionary of string keys and prmitive-type values.
 |
 |      Examples
 |      --------
 |      >>> spark.read.option("key", "value")
 |      <...readwriter.DataFrameReader object ...>
 |
 |      Specify the option 'nullValue' and 'header' with reading a CSV file.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a CSV file with a header.
 |      ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
 |      ...     df.write.option("header", True).mode("overwrite").format("csv").save(d)
 |      ...
 |      ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon',
 |      ...     # and 'header' option set to `True`.
 |      ...     spark.read.options(
 |      ...         nullValue="Hyukjin Kwon",
 |      ...         header=True
 |      ...     ).format('csv').load(d).show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |100|NULL|
 |      +---+----+
 |
 |  orc(self, path: Union[str, List[str]], mergeSchema: Optional[bool] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None) -> 'DataFrame'
 |      Loads ORC files, returning the result as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.5.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      path : str or list
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-orc.html#data-source-option>`_
 |          for the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      Write a DataFrame into a ORC file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a ORC file
 |      ...     spark.createDataFrame(
 |      ...         [{"age": 100, "name": "Hyukjin Kwon"}]
 |      ...     ).write.mode("overwrite").format("orc").save(d)
 |      ...
 |      ...     # Read the Parquet file as a DataFrame.
 |      ...     spark.read.orc(d).show()
 |      +---+------------+
 |      |age|        name|
 |      +---+------------+
 |      |100|Hyukjin Kwon|
 |      +---+------------+
 |
 |  parquet(self, *paths: str, **options: 'OptionalPrimitiveType') -> 'DataFrame'
 |      Loads Parquet files, returning the result as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      paths : str
 |
 |      Other Parameters
 |      ----------------
 |      **options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#data-source-option>`_
 |          for the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      Write a DataFrame into a Parquet file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a Parquet file
 |      ...     spark.createDataFrame(
 |      ...         [{"age": 100, "name": "Hyukjin Kwon"}]
 |      ...     ).write.mode("overwrite").format("parquet").save(d)
 |      ...
 |      ...     # Read the Parquet file as a DataFrame.
 |      ...     spark.read.parquet(d).show()
 |      +---+------------+
 |      |age|        name|
 |      +---+------------+
 |      |100|Hyukjin Kwon|
 |      +---+------------+
 |
 |  schema(self, schema: Union[pyspark.sql.types.StructType, str]) -> 'DataFrameReader'
 |      Specifies the input schema.
 |
 |      Some data sources (e.g. JSON) can infer the input schema automatically from data.
 |      By specifying the schema here, the underlying data source can skip the schema
 |      inference step, and thus speed up data loading.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      schema : :class:`pyspark.sql.types.StructType` or str
 |          a :class:`pyspark.sql.types.StructType` object or a DDL-formatted string
 |          (For example ``col0 INT, col1 DOUBLE``).
 |
 |      Examples
 |      --------
 |      >>> spark.read.schema("col0 INT, col1 DOUBLE")
 |      <...readwriter.DataFrameReader object ...>
 |
 |      Specify the schema with reading a CSV file.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     spark.read.schema("col0 INT, col1 DOUBLE").format("csv").load(d).printSchema()
 |      root
 |       |-- col0: integer (nullable = true)
 |       |-- col1: double (nullable = true)
 |
 |  table(self, tableName: str) -> 'DataFrame'
 |      Returns the specified table as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      tableName : str
 |          string, name of the table.
 |
 |      Examples
 |      --------
 |      >>> df = spark.range(10)
 |      >>> df.createOrReplaceTempView('tblA')
 |      >>> spark.read.table('tblA').show()
 |      +---+
 |      | id|
 |      +---+
 |      |  0|
 |      |  1|
 |      |  2|
 |      |  3|
 |      |  4|
 |      |  5|
 |      |  6|
 |      |  7|
 |      |  8|
 |      |  9|
 |      +---+
 |      >>> _ = spark.sql("DROP TABLE tblA")
 |
 |  text(self, paths: Union[str, List[str]], wholetext: bool = False, lineSep: Optional[str] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None) -> 'DataFrame'

In [ ]:
df = pd.read_csv('/content/results of dk 777 on bundle inputs  1.csv')

NameError: name 'pd' is not defined

In [ ]:
!pip install pandas==1.5.3
import pandas as pd

Collecting pandas==1.5.3
  Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 24.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.3
    Uninstalling pandas-2.0.3:
      Successfully uninstalled pandas-2.0.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.4.1 requires pandas<2.2.2dev0,>=2.0, but you have pandas 1.5.3 which is incompatible.
google-colab 1.0.0 requires pandas==2.0.3, but you have pandas 1.5.3 which is incompatible.
Successfully installed pandas-1.5.3

In [ ]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("BostonHousePrices").getOrCreate()

# Read the CSV file using the correct path for Colab
file_path = "/content/results of dk 777 on bundle inputs  1.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Show the DataFrame
df.show()
df.printSchema()

+-----+------+-----+-----+------+----+------+---------+-----+------+-------+------+------+------+------+
| 1834|-21680|-7866|40431|DK 777|  kg|0.0000|7085.0000|0.000|1.0009|1.00010|NULL11|NULL12|NULL13|NULL14|
+-----+------+-----+-----+------+----+------+---------+-----+------+-------+------+------+------+------+
| 1834|-17092|-5863|40431|DK 777|  kg|   0.0|  13200.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 2404|-11326|-2675|40431|DK 777|unit|   0.0|    510.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 2834|-21680|-7866|40431|DK 777|  kg|   0.0|   7085.0|  0.0|   1.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 2834|-17092|-5863|40431|DK 777|  kg|   0.0|  13200.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 3834|-21680|-7866|40431|DK 777|  kg|   0.0|   7085.0|  0.0|   1.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 3834|-17092|-5863|40431|DK 777|  kg|   0.0|  13200.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 4834|-21680|-7866|40431|DK 777|  kg|   0.0|   7085.0|  0.0|   1.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 4834|-17092|-5863|40431|DK 777|  kg|   0.0|  13200.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 5834|-21680|-7866|40431|DK 777|  kg|   0.0|   7085.0|  0.0|   1.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 5834|-17092|-5863|40431|DK 777|  kg|   0.0|  13200.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 6834|-21680|-7866|40431|DK 777|  kg|   0.0|   7085.0|  0.0|   1.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 6834|-17092|-5863|40431|DK 777|  kg|   0.0|  13200.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 7834|-21680|-7866|40431|DK 777|  kg|   0.0|   7085.0|  0.0|   1.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 7834|-17092|-5863|40431|DK 777|  kg|   0.0|  13200.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 8834|-21680|-7866|40431|DK 777|  kg|   0.0|   7085.0|  0.0|   1.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 8834|-17092|-5863|40431|DK 777|  kg|   0.0|  13200.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 9834|-21680|-7866|40431|DK 777|  kg|   0.0|   6540.0|  0.0|   1.0|    1.0|  NULL|  NULL|  NULL|  NULL|
| 9834|-17092|-5863|40431|DK 777|  kg|   0.0|  13200.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
|10834|-21680|-7866|40431|DK 777|  kg|   0.0|   6540.0|  0.0|   1.0|    1.0|  NULL|  NULL|  NULL|  NULL|
|10834|-17092|-5863|40431|DK 777|  kg|   0.0|  13200.0|  0.0|   2.0|    1.0|  NULL|  NULL|  NULL|  NULL|
+-----+------+-----+-----+------+----+------+---------+-----+------+-------+------+------+------+------+
only showing top 20 rows

root
 |-- 1834: integer (nullable = true)
 |-- -21680: integer (nullable = true)
 |-- -7866: integer (nullable = true)
 |-- 40431: integer (nullable = true)
 |-- DK 777: string (nullable = true)
 |-- kg: string (nullable = true)
 |-- 0.0000: double (nullable = true)
 |-- 7085.0000: double (nullable = true)
 |-- 0.000: double (nullable = true)
 |-- 1.0009: double (nullable = true)
 |-- 1.00010: double (nullable = true)
 |-- NULL11: string (nullable = true)
 |-- NULL12: string (nullable = true)
 |-- NULL13: string (nullable = true)
 |-- NULL14: string (nullable = true)

In [ ]:
df = spark.read.csv(path='/content/population_total.csv', header=True, inferSchema=True)
display(df)
df.show()
df.printSchema()

DataFrame[country: string, year: int, population: int]

+-------+----+----------+
|country|year|population|
+-------+----+----------+
|  China|2020|1439323776|
|  China|2019|1433783686|
|  China|2018|1427647786|
|  China|2017|1421021791|
|  China|2016|1414049351|
|  China|2015|1406847870|
|  China|2010|1368810615|
|  China|2005|1330776380|
|  China|2000|1290550765|
|  China|1995|1240920535|
|  China|1990|1176883674|
|  China|1985|1075589361|
|  China|1980|1000089235|
|  China|1975| 926240885|
|  China|1970| 827601394|
|  China|1965| 724218968|
|  China|1960| 660408056|
|  China|1955| 612241554|
| France|2020|  65273511|
| France|2019|  65129728|
+-------+----+----------+
only showing top 20 rows

root
 |-- country: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- population: integer (nullable = true)

In [ ]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("/gdp.csv").getOrCreate()

# Read the CSV file using the correct path for Colab
file_path = "/gdp.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Show the DataFrame
df.show()
df.printSchema()

ModuleNotFoundError: No module named 'pyspark'

In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("/gdp.csv").getOrCreate()

# Read the CSV file using the correct path for Colab
file_path = "/gdp.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Show the DataFrame
df.show()
df.printSchema()

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=5230cc555a81c6d0eeff0f8ecf7e4c4066dc1c987a16471d7d51fa24222d1215
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
+----+----+-----------+----+---------+---------+-----------+------------+
|unid|wbid|    country|year|      SES|    gdppc|    yrseduc|    popshare|
+----+----+-----------+----+---------+---------+-----------+------------+
|   4| AFG|Afghanistan|1970|3.4742124|    709.0|       NULL|0.0030974303|
|   4| AFG|Afghanistan|1920|26.968016|731.75677|       NULL|0.0032446014|
|   4| AFG|Afghanistan|1990|1.2695296|    604.0|       NULL| 0.002346751|
|   4| AFG|Afghanistan|1960|15.763076|    739.0|       NULL| 0.003039381|
|   4| AFG|Afghanistan|2000|2.0611143|    565.0|       NULL|0.0033088236|
|   4| AFG|Afghanistan|2010|5.6763997|1662.8035|       NULL|0.0041496116|
|   4| AFG|Afghanistan|1880|37.957447|585.46509|       NULL|0.0032711735|
|   4| AFG|Afghanistan|1940|14.320977|673.91895|       NULL|0.0032264683|
|   4| AFG|Afghanistan|1890|29.591391|635.93024|       NULL|0.0032554974|
|   4| AFG|Afghanistan|1980|3.4650476|    690.0|       NULL|0.0030573066|
|   4| AFG|Afghanistan|1930|15.306766|702.83783|       NULL|0.0032587289|
|   4| AFG|Afghanistan|1950|23.424145|    645.0|       NULL|0.0033020985|
|   4| AFG|Afghanistan|1900|28.104797|686.39532|       NULL|0.0032445015|
|   4| AFG|Afghanistan|1910|  26.9876|736.86047|       NULL|0.0031784344|
|  24| AGO|     Angola|2010|21.247763|6492.1768|       2.79|0.0031490561|
|  24| AGO|     Angola|1930|24.175644|747.81482|0.079999998| 0.001587122|
|  24| AGO|     Angola|1920|24.223469|682.62964|0.079999998|0.0015237019|
|  24| AGO|     Angola|1970|30.052431|   1768.0| 0.28999999|0.0017549359|
|  24| AGO|     Angola|1960|27.918711|   1253.0|       0.11|0.0017810419|
|  24| AGO|     Angola|1950| 28.05554|   1052.0|0.090000004| 0.001668241|
+----+----+-----------+----+---------+---------+-----------+------------+
only showing top 20 rows

root
 |-- unid: integer (nullable = true)
 |-- wbid: string (nullable = true)
 |-- country: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- SES: double (nullable = true)
 |-- gdppc: double (nullable = true)
 |-- yrseduc: double (nullable = true)
 |-- popshare: double (nullable = true)

In [ ]:
from pyspark.sql import dataframe
help(dataframe.DataFrame.write)

Help on module pyspark.sql.dataframe in pyspark.sql:

NAME
    pyspark.sql.dataframe

DESCRIPTION
    # Licensed to the Apache Software Foundation (ASF) under one or more
    # contributor license agreements.  See the NOTICE file distributed with
    # this work for additional information regarding copyright ownership.
    # The ASF licenses this file to You under the Apache License, Version 2.0
    # (the "License"); you may not use this file except in compliance with
    # the License.  You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
    #
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    #

CLASSES
    builtins.object
        DataFrameNaFunctions
        DataFrameStatFunctions
    pyspark.sql.pandas.conversion.PandasConversionMixin(builtins.object)
        DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
    pyspark.sql.pandas.map_ops.PandasMapOpsMixin(builtins.object)
        DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)

    class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
     |  DataFrame(jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
     |
     |  A distributed collection of data grouped into named columns.
     |
     |  .. versionadded:: 1.3.0
     |
     |  .. versionchanged:: 3.4.0
     |      Supports Spark Connect.
     |
     |  Examples
     |  --------
     |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
     |  and can be created using various functions in :class:`SparkSession`:
     |
     |  >>> people = spark.createDataFrame([
     |  ...     {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
     |  ...     {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
     |  ...     {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
     |  ...     {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
     |  ... ])
     |
     |  Once created, it can be manipulated using the various domain-specific-language
     |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
     |
     |  To select a column from the :class:`DataFrame`, use the apply method:
     |
     |  >>> age_col = people.age
     |
     |  A more concrete example:
     |
     |  >>> # To create DataFrame using SparkSession
     |  ... department = spark.createDataFrame([
     |  ...     {"id": 1, "name": "PySpark"},
     |  ...     {"id": 2, "name": "ML"},
     |  ...     {"id": 3, "name": "Spark SQL"}
     |  ... ])
     |
     |  >>> people.filter(people.age > 30).join(
     |  ...     department, people.deptId == department.id).groupBy(
     |  ...     department.name, "gender").agg({"salary": "avg", "age": "max"}).show()
     |  +-------+------+-----------+--------+
     |  |   name|gender|avg(salary)|max(age)|
     |  +-------+------+-----------+--------+
     |  |     ML|     F|      150.0|      60|
     |  |PySpark|     M|       75.0|      50|
     |  +-------+------+-----------+--------+
     |
     |  Notes
     |  -----
     |  A DataFrame should only be created as described above. It should not be directly
     |  created via using the constructor.
     |
     |  Method resolution order:
     |      DataFrame
     |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
     |      pyspark.sql.pandas.conversion.PandasConversionMixin
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __dir__(self) -> List[str]
     |      Examples
     |      --------
     |      >>> from pyspark.sql.functions import lit
     |
     |      Create a dataframe with a column named 'id'.
     |
     |      >>> df = spark.range(3)
     |      >>> [attr for attr in dir(df) if attr[0] == 'i'][:7] # Includes column id
     |      ['id', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming']
     |
     |      Add a column named 'i_like_pancakes'.
     |
     |      >>> df = df.withColumn('i_like_pancakes', lit(1))
     |      >>> [attr for attr in dir(df) if attr[0] == 'i'][:7] # Includes columns i_like_pancakes, id
     |      ['i_like_pancakes', 'id', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal']
     |
     |      Try to add an existed column 'inputFiles'.
     |
     |      >>> df = df.withColumn('inputFiles', lit(2))
     |      >>> [attr for attr in dir(df) if attr[0] == 'i'][:7] # Doesn't duplicate inputFiles
     |      ['i_like_pancakes', 'id', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal']
     |
     |      Try to add a column named 'id2'.
     |
     |      >>> df = df.withColumn('id2', lit(3))
     |      >>> [attr for attr in dir(df) if attr[0] == 'i'][:7] # result includes id2 and sorted
     |      ['i_like_pancakes', 'id', 'id2', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty']
     |
     |      Don't include columns that are not valid python identifiers.
     |
     |      >>> df = df.withColumn('1', lit(4))
     |      >>> df = df.withColumn('name 1', lit(5))
     |      >>> [attr for attr in dir(df) if attr[0] == 'i'][:7] # Doesn't include 1 or name 1
     |      ['i_like_pancakes', 'id', 'id2', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty']
     |
     |  __getattr__(self, name: str) -> pyspark.sql.column.Column
     |      Returns the :class:`Column` denoted by ``name``.
     |
     |      .. versionadded:: 1.3.0
     |
     |      .. versionchanged:: 3.4.0
     |          Supports Spark Connect.
     |
     |      Parameters
     |      ----------
     |      name : str
     |          Column name to return as :class:`Column`.
     |
     |      Returns
     |      -------
     |      :class:`Column`
     |          Requested column.
     |
     |      Examples
     |      --------
     |      >>> df = spark.createDataFrame([
     |      ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
     |
     |      Retrieve a column instance.
     |
     |      >>> df.select(df.age).show()
     |      +---+
     |      |age|
     |      +---+
     |      |  2|
     |      |  5|
     |      +---+
     |
     |  __getitem__(self, item: Union[int, str, pyspark.sql.column.Column, List, Tuple]) -> Union[pyspark.sql.column.Column, ForwardRef('DataFrame')]
     |      Returns the column as a :class:`Column`.
     |
     |      .. versionadded:: 1.3.0
     |
     |      .. versionchanged:: 3.4.0
     |          Supports Spark Connect.
     |
     |      Parameters
     |      ----------
     |      item : int, str, :class:`Column`, list or tuple
     |          column index, column name, column, or a list or tuple of columns
     |
     |      Returns
     |      -------
     |      :class:`Column` or :class:`DataFrame`
     |          a specified column, or a filtered or projected dataframe.
     |
     |          * If the input `item` is an int or str, the output is a :class:`Column`.
     |
     |          * If the input `item` is a :class:`Column`, the output is a :class:`DataFrame`
     |              filtered by this given :class:`Column`.
     |
     |          * If the input `item` is a list or tuple, the output is a :class:`DataFrame`
     |              projected by this given list or tuple.
     |
     |
     |      Examples
     |      --------
     |      >>> df = spark.createDataFrame([
     |      ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
     |
     |      Retrieve a column instance.
     |
     |      >>> df.select(df['age']).show()
     |      +---+
     |      |age|
     |      +---+
     |      |  2|
     |      |  5|
     |      +---+
     |
     |      >>> df.select(df[1]).show()
     |      +-----+
     |      | name|
     |      +-----+
     |      |Alice|
     |      |  Bob|
     |      +-----+
     |
     |      Select multiple string columns as index.
     |
     |      >>> df[["name", "age"]].show()
     |      +-----+---+
     |      | name|age|
     |      +-----+---+
     |      |Alice|  2|
     |      |  Bob|  5|
     |      +-----+---+
     |      >>> df[df.age > 3].show()
     |      +---+----+
     |      |age|name|
     |      +---+----+
     |      |  5| Bob|
     |      +---+----+
     |      >>> df[df[0] > 3].show()
     |      +---+----+
     |      |age|name|
     |      +---+----+
     |      |  5| Bob|
     |      +---+----+
     |
     |  __init__(self, jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __repr__(self) -> str
     |      Return repr(self).
     |
     |  agg(self, *exprs: Union[pyspark.sql.column.Column, Dict[str, str]]) -> 'DataFrame'
     |      Aggregate on the entire :class:`DataFrame` without groups
     |      (shorthand for ``df.groupBy().agg()``).
     |
     |      .. versionadded:: 1.3.0
     |
     |      .. versionchanged:: 3.4.0
     |          Supports Spark Connect.
     |
     |      Parameters
     |      ----------
     |      exprs : :class:`Column` or dict of key and value strings
     |          Columns or expressions to aggregate DataFrame by.
     |
     |      Returns
     |      -------
     |      :class:`DataFrame`
     |          Aggregated DataFrame.
     |
     |      Examples
     |      --------
     |      >>> from pyspark.sql import functions as sf
     |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
     |      >>> df.agg({"age": "max"}).show()
     |      +--------+
     |      |max(age)|
     |      +--------+
     |      |       5|
     |      +--------+
     |      >>> df.agg(sf.min(df.age)).show()
     |      +--------+
     |      |min(age)|
     |      +--------+
     |      |       2|
     |      +--------+
     |
     |  alias(self, alias: str) -> 'DataFrame'
     |      Returns a new :class:`DataFrame` with an alias set.
     |
     |      .. versionadded:: 1.3.0
     |
     |      .. versionchanged:: 3.4.0
     |          Supports Spark Connect.
     |
     |      Parameters
     |      ----------
     |      alias : str
     |          an alias name to be set for the :class:`DataFrame`.
     |
     |      Returns
     |      -------
     |      :class:`DataFrame`
     |          Aliased DataFrame.
     |
     |      Examples
     |      --------
     |      >>> from pyspark.sql.functions import col, desc
     |      >>> df = spark.createDataFrame(
     |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
     |      >>> df_as1 = df.alias("df_as1")
     |      >>> df_as2 = df.alias("df_as2")
     |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
     |      >>> joined_df.select(
     |      ...     "df_as1.name", "df_as2.name", "df_as2.age").sort(desc("df_as1.name")).show()
     |      +-----+-----+---+
     |      | name| name|age|
     |      +-----+-----+---+
     |      |  Tom|  Tom| 14|
     |      |  Bob|  Bob| 16|
     |      |Alice|Alice| 23|
     |      +-----+-----+---+
     |
     |  approxQuantile(self, col: Union[str, List[str], Tuple[str]], probabilities: Union[List[float], Tuple[float]], relativeError: float) -> Union[List[float], List[List[float]]]
     |      Calculates the approximate quantiles of numerical columns of a
     |      :class:`DataFrame`.
     |
     |      The result of this algorithm has the following deterministic bound:
     |      If the :class:`DataFrame` has N elements and if we request the quantile at
     |      probability `p` up to error `err`, then the algorithm will return
     |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
     |      close to (p * N). More precisely,
     |
     |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
     |
     |      This method implements a variation of the Greenwald-Khanna
     |      algorithm (with some speed optimizations). The algorithm was first
     |      present in [[https://doi.org/10.1145/375663.375670
     |      Space-efficient Online Computation of Quantile Summaries]]
     |      by Greenwald and Khanna.
     |
     |      .. versionadded:: 2.0.0
     |
     |      .. versionchanged:: 3.4.0
     |          Supports Spark Connect.
     |
     |      Parameters
     |      ----------
     |      col: str, tuple or list
     |          Can be a single column name, or a list of names for multiple columns.
     |
     |          .. versionchanged:: 2.2.0
     |             Added support for multiple columns.
     |      probabilities : list or tuple
     |          a list of quantile probabilities
     |          Each number must belong to [0, 1].
     |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
     |      relativeError : float
     |          The relative target precision to achieve
     |          (>= 0). If set to zero, the exact quantiles are computed, which
     |          could be very expensive. Note that values greater than 1 are
     |          accepted but gives the same result as 1.
     |
     |      Returns
     |      -------
     |      list
     |          the approximate quantiles at the given probabilities.
     |
     |          * If the input `col` is a string, the output is a list of floats.
     |
     |          * If the input `col` is a list or tuple of strings, the output is also a
     |              list, but each element in it is a list of floats, i.e., the output
     |              is a list of list of floats.
     |
     |      Notes
     |      -----
     |      Null values will be ignored in numerical columns before calculation.
     |      For columns only containing null values, an empty list is returned.
     |
     |  cache(self) -> 'DataFrame'
     |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK_DESER`).
     |
     |      .. versionadded:: 1.3.0
     |
     |      .. versionchanged:: 3.4.0
     |          Supports Spark Connect.
     |
     |      Notes
     |      -----
     |      The default storage level has changed to `MEMORY_AND_DISK_DESER` to match Scala in 3.0.
     |
     |      Returns
     |      -------
     |      :class:`DataFrame`
     |          Cached DataFrame.
     |
     |      Examples
     |      --------
     |      >>> df = spark.range(1)
     |      >>> df.cache()
     |      DataFrame[id: bigint]
     |
     |      >>> df.explain()
     |      == Physical Plan ==
     |      AdaptiveSparkPlan isFinalPlan=false
     |      +- InMemoryTableScan ...
     |
     |  checkpoint(self, eager: bool = True) -> 'DataFrame'
     |      Returns a checkpointed version of this :class:`DataFrame`. Checkpointing can be used to
     |      truncate the logical plan of this :class:`DataFrame`, which is especially useful in
     |      iterative algorithms where the plan may grow exponentially. It will be saved to files
     |      inside the checkpoint directory set with :meth:`SparkContext.setCheckpointDir`.
     |
     |      .. versionadded:: 2.1.0
     |
     |      Parameters
     |      ----------
     |      eager : bool, optional, default True
     |          Whether to checkpoint this :class:`DataFrame` immediately.
     |
     |      Returns
     |      -------
     |      :class:`DataFrame`
     |          Checkpointed DataFrame.
     |
     |      Notes
     |      -----
     |      This API is experimental.
     |
     |      Examples
     |      --------
     |      >>> import tempfile
     |      >>> df = spark.createDataFrame([
     |      ...     (14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
     |      >>> with tempfile.TemporaryDirectory() as d:
     |      ...     spark.sparkContext.setCheckpointDir("/tmp/bb")
     |      ...     df.checkpoint(False)
     |      DataFrame[age: bigint, name: string]
     |
     |  coalesce(self, numPartitions: int) -> 'DataFrame'
     |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
     |
     |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
     |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
     |      there will not be a shuffle, instead each of the 100 new partitions will
     |      claim 10 of the current partitions. If a larger number of partitions is requested,
     |      it will stay at the current number of partitions.
     |
     |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
     |      this may result in your computation taking place on fewer nodes than
     |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
     |      you can call repartition(). This will add a shuffle step, but means the
     |      current upstream partitions will be executed in parallel (per whatever
     |      the current partitioning is).
     |
     |      .. versionadded:: 1.4.0
     |
     |      .. versionchanged:: 3.4.0
     |          Supports Spark Connect.
     |
     |      Parameters
     |      ----------
     |      numPartitions : int
     |          specify the target number of partitions
     |
     |      Returns
     |      -------
     |      :class:`DataFrame`
     |
     |      Examples
     |      --------
     |      >>> df = spark.range(10)
     |      >>> df.coalesce(1).rdd.getNumPartitions()
     |      1
     |
     |  colRegex(self, colName: str) -> pyspark.sql.column.Column
     |      Selects column based on the column name specified as a regex and returns it
     |      as :class:`Column`.
     |
     |      .. versionadded:: 2.3.0
     |
     |      .. versionchanged:: 3.4.0
     |          Supports Spark Connect.
     |
     |      Parameters
     |      ----------
     |      colName : str
     |          string, column name specified as a regex.
     |
     |      Returns
     |      -------
     |      :class:`Column`
     |
     |      Examples
     |      --------
     |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
     |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
     |      +----+
     |      |Col2|
     |      +----+
     |      |   1|
     |      |   2|
     |      |   3|
     |      +----+
     |
     |  collect(self) -> List[pyspark.sql.types.Row]
     |      Returns all the records as a list of :class:`Row`.
     |
     |      .. versionadded:: 1.3.0
     |
     |      .. versionchanged:: 3.4.0
     |          Supports Spark Connect.
     |
     |      Returns
     |      -------
     |      list
     |          List of rows.
     |
     |      Examples
     |      --------
     |      >>> df = spark.createDataFrame(
     |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
     |      >>> df.collect()
     |      [Row(age=14, name='Tom'), Row(age=23, name='Alice'), Row(age=16, name='Bob')]
     |
     |  corr(self, col1: str, col2: str, method: Optional[str] = None) -> float
     |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
     |      Currently only supports the Pearson Correlation Coefficient.
     |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
     |
     |      .. versionadded:: 1.4.0
     |
     |      .. versionchanged:: 3.4.0
     |          Supports Spark Connect.
     |
     |      Parameters
     |      ----------
     |      col1 : str

In [ ]:
data = [(1, 'Stephen'), (2, 'Ayden')]
schema = ['id', 'name']

df= spark.createDataFrame(data=data, schema=schema)
df.show()
display(df)

+---+-------+
| id|   name|
+---+-------+
|  1|Stephen|
|  2|  Ayden|
+---+-------+

DataFrame[id: bigint, name: string]

In [ ]:
type(df.write)
df.write.csv(path='/empdata.csv',header=True)

In [ ]:
spark.read.csv(path='/empdata.csv', header=True, inferSchema=True).show()

+---+-------+
| id|   name|
+---+-------+
|  1|Stephen|
|  1|Stephen|
|  2|  Ayden|
|  2|  Ayden|
+---+-------+

In [ ]:
type(df.write)
df.write.csv(path='/empdata.csv',header=True,mode ='ignore')

In [ ]:
type(df.write)
df.write.csv(path='/empdata.csv',header=True,mode ='overwrite')

In [ ]:
type(df.write)
df.write.csv(path='/empdata.csv',header=True,mode ='append')

In [ ]:
import json

# Sample data
data = [
    {"id": 1, "neighborhood": "Back Bay", "price": 750000, "bedrooms": 2, "bathrooms": 2},
    {"id": 2, "neighborhood": "Beacon Hill", "price": 1200000, "bedrooms": 3, "bathrooms": 3},
    {"id": 3, "neighborhood": "North End", "price": 850000, "bedrooms": 2, "bathrooms": 1},
    {"id": 4, "neighborhood": "South Boston", "price": 650000, "bedrooms": 2, "bathrooms": 2},
    {"id": 5, "neighborhood": "West End", "price": 700000, "bedrooms": 2, "bathrooms": 1}
]

# Save data to a JSON file
with open('sample_data.json', 'w') as file:
    json.dump(data, file, indent=4)

print("JSON data has been saved to sample_data.json")

JSON data has been saved to sample_data.json

In [ ]:
import json

# Step 1: Create and Save JSON Data
data = [
    {"id": 1, "neighborhood": "Back Bay", "price": 750000, "bedrooms": 2, "bathrooms": 2},
    {"id": 2, "neighborhood": "Beacon Hill", "price": 1200000, "bedrooms": 3, "bathrooms": 3},
    {"id": 3, "neighborhood": "North End", "price": 850000, "bedrooms": 2, "bathrooms": 1},
    {"id": 4, "neighborhood": "South Boston", "price": 650000, "bedrooms": 2, "bathrooms": 2},
    {"id": 5, "neighborhood": "West End", "price": 700000, "bedrooms": 2, "bathrooms": 1}
]

# Save data to a JSON file in the Colab environment
with open('/content/sample_data.json', 'w') as file:
    json.dump(data, file, indent=4)

print("JSON data has been saved to /content/sample_data.json")

# Step 2: Load and Display JSON Data
with open('/content/sample_data.json', 'r') as file:
    data = json.load(file)

# Display the data
print(data)

JSON data has been saved to /content/sample_data.json
[{'id': 1, 'neighborhood': 'Back Bay', 'price': 750000, 'bedrooms': 2, 'bathrooms': 2}, {'id': 2, 'neighborhood': 'Beacon Hill', 'price': 1200000, 'bedrooms': 3, 'bathrooms': 3}, {'id': 3, 'neighborhood': 'North End', 'price': 850000, 'bedrooms': 2, 'bathrooms': 1}, {'id': 4, 'neighborhood': 'South Boston', 'price': 650000, 'bedrooms': 2, 'bathrooms': 2}, {'id': 5, 'neighborhood': 'West End', 'price': 700000, 'bedrooms': 2, 'bathrooms': 1}]

In [ ]:
import json

# Read and inspect the JSON file
with open('/content/sample_data.json', 'r') as file:
    data = json.load(file)

# Print the data to check for issues
print(data)

[{'id': 1, 'neighborhood': 'Back Bay', 'price': 750000, 'bedrooms': 2, 'bathrooms': 2}, {'id': 2, 'neighborhood': 'Beacon Hill', 'price': 1200000, 'bedrooms': 3, 'bathrooms': 3}, {'id': 3, 'neighborhood': 'North End', 'price': 850000, 'bedrooms': 2, 'bathrooms': 1}, {'id': 4, 'neighborhood': 'South Boston', 'price': 650000, 'bedrooms': 2, 'bathrooms': 2}, {'id': 5, 'neighborhood': 'West End', 'price': 700000, 'bedrooms': 2, 'bathrooms': 1}]

In [15]:
df = spark.read.json('/content/simple.json',multiLine=True)
df.printSchema
df.show()

+---+-------------+---+-------+
|age|         city| id|   name|
+---+-------------+---+-------+
| 30|     New York|  1|  Alice|
| 25|San Francisco|  2|    Bob|
| 35|  Los Angeles|  3|Charlie|
+---+-------------+---+-------+

In [16]:
df = spark.read.json('/content/sample_data1.json',multiLine=True)
df.printSchema
df.show()

+---------+--------+---+------------+-------+
|bathrooms|bedrooms| id|neighborhood|  price|
+---------+--------+---+------------+-------+
|        2|       2|  1|    Back Bay| 750000|
|        3|       3|  2| Beacon Hill|1200000|
|        1|       2|  3|   North End| 850000|
|        2|       2|  4|South Boston| 650000|
|        1|       2|  5|    West End| 700000|
+---------+--------+---+------------+-------+

In [18]:
df = spark.read.json('/content/test2.json',multiLine=True)
df.printSchema()
df.show()

root
 |-- bio: string (nullable = true)
 |-- id: string (nullable = true)
 |-- language: string (nullable = true)
 |-- name: string (nullable = true)
 |-- version: double (nullable = true)

+--------------------+----------------+----------------+--------------------+-------+
|                 bio|              id|        language|                name|version|
+--------------------+----------------+----------------+--------------------+-------+
|Dec lobortis elei...|V59OF92YF627HFY0|          Sindhi|       Adeel Solangi|    6.1|
|Some concern befo...|ENTOCR13RSCLZ6KU|          Sindhi|       Afzal Ghaffar|   1.88|
|Vestibulum pharet...|IAKPO3R4761JDRVG|          Sindhi|       Aamir Solangi|   7.27|
|Until the story o...|5ZVOEPMJUI4MB4EN|          Uighur|       Abla Dilmurat|   2.53|
|Let's live what t...|6VTI8X6LL0MMPJCC|          Uighur|            Adil Eli|   6.49|
|You have the adva...|F2KEU5L7EHYSYFTT|          Uighur|         Adile Qadir|    1.9|
|Let's live what t...|LO6DVTZLRK68528I|          Uighur|I will abduct Ibr...|    5.9|
|orcs just sometim...|LJRIULRNJFCNZJAJ|          Sindhi|           Adil Abro|   9.32|
|Fusce eu ultrices...|JMCL0CXNXHPL1GBC|        Galician|    Afonso Vilarchán|   5.21|
|but, as the great...|KU4T500C830697CW|         Maltese|       Mark Schembri|   3.17|
|           eleifend.|XOF91ZR7MHV1TXRS|        Galician|       Antía Sixirei|   6.44|
|You have a medica...|FTSNV411G5MKLPDT|          Uighur|      Aygul Mutellip|    9.1|
|Nunc aquet member...|OJMWMEEQWMLDU29P|          Sindhi|        Awais Shaikh|   1.59|
|The vestibule bef...|5G646V7E6TJW8X2M|          Sindhi|       Ambreen Ahmed|   2.35|
|Nulla and members...|Z53AJY7WUYPLAWC9|        Galician|         Celtia Anes|   8.34|
|Phasellus tincidu...|N1AS6UFULO6WGTLB|         Maltese|       George Mifsud|   7.47|
|It will be treate...|70RODUVRD95CLOJL|          Uighur|        Aytürk Qasim|   1.32|
|Maecenas does not...|VBLI24FKF7VV6BWE|Sesotho sa Leboa|          Dialè Meso|   6.29|
|Integer vehicles,...|4VRLON0GPEZYFCVL|        Galician|       Breixo Galáns|   1.62|
|Ut viverra quis e...|5DRDI1QLRGLP29RC|        Galician|         Bieto Lorme|   4.45|
+--------------------+----------------+----------------+--------------------+-------+
only showing top 20 rows

uploading multiple files with identical schema

In [22]:
df = spark.read.json(path=['/content/test3.json','/content/test4.json'],multiLine=True)
df.printSchema()
df.show()

root
 |-- age: long (nullable = true)
 |-- city: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

+---+-------------+---+-------+
|age|         city| id|   name|
+---+-------------+---+-------+
| 30|     New York|  1|  Alice|
| 25|San Francisco|  2|    Bob|
| 35|  Los Angeles|  3|Charlie|
| 28|      Seattle|  4|  David|
| 22|      Chicago|  5|    Eve|
| 40|        Miami|  6|  Frank|
+---+-------------+---+-------+

**changing the datatype of columns when importing datasets**

In [28]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, IntegerType, StringType

# Create a SparkSession
spark = SparkSession.builder.appName("ReadJSON").getOrCreate()

# Define the schema
schema = StructType().add('age', IntegerType())\
                     .add('city', StringType())\
                     .add('id', IntegerType())\
                     .add('name', StringType())

# Read the JSON files with the defined schema and multiLine option
df = spark.read.schema(schema).json(path=['/content/test3.json', '/content/test4.json'], multiLine=True)

# Print the schema of the DataFrame
df.printSchema()

# Show the contents of the DataFrame
df.show()

root
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

+---+-------------+---+-------+
|age|         city| id|   name|
+---+-------------+---+-------+
| 30|     New York|  1|  Alice|
| 25|San Francisco|  2|    Bob|
| 35|  Los Angeles|  3|Charlie|
| 28|      Seattle|  4|  David|
| 22|      Chicago|  5|    Eve|
| 40|        Miami|  6|  Frank|
+---+-------------+---+-------+

write Datafrom in json file
**bold text**

In [29]:
data = [(1,'Stephen'),(2,'Ayden')]
schema = ['id','name']

df = spark.createDataFrame(data=data,schema=schema)
df.show()
display(df)

+---+-------+
| id|   name|
+---+-------+
|  1|Stephen|
|  2|  Ayden|
+---+-------+

DataFrame[id: bigint, name: string]

In [39]:
df.write.json(path='/empdata1.json')
display(spark.read.json('/empdata1.json'))
df.show()

DataFrame[id: bigint, name: string]

+---+-------+
| id|   name|
+---+-------+
|  1|Stephen|
|  2|  Ayden|
+---+-------+

**using parquet file formats**

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Create a SparkSession
spark = SparkSession.builder.appName("CreateParquet").getOrCreate()

# Define the schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("city", StringType(), True)
])

# Create a DataFrame with sample data
data = [
    (1, "Alice", 30, "New York"),
    (2, "Bob", 25, "San Francisco"),
    (3, "Charlie", 35, "Los Angeles")
]

df = spark.createDataFrame(data, schema)

# Write the DataFrame to a Parquet file
df.write.parquet("/content/pdata.parquet")

# Verify by reading the Parquet file back
df_read = spark.read.parquet("/content/pdata.parquet")
df_read.show()

+---+-------+---+-------------+
| id|   name|age|         city|
+---+-------+---+-------------+
|  2|    Bob| 25|San Francisco|
|  3|Charlie| 35|  Los Angeles|
|  1|  Alice| 30|     New York|
+---+-------+---+-------------+

In [49]:
df_read = spark.read.parquet("/userdata1.parquet")
print(df.count())
df_read.show()
display(df)

1000
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|  registration_dttm| id|first_name|last_name|               email|gender|     ip_address|                 cc|             country| birthdate|   salary|               title|            comments|
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|2016-02-03 07:55:29|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|    1.197.201.2|   6759521864920116|           Indonesia|  3/8/1971| 49756.53|    Internal Auditor|               1E+02|
|2016-02-03 17:04:03|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male| 218.111.175.34|                   |              Canada| 1/16/1968|150280.17|       Accountant IV|                    |
|2016-02-03 01:09:31|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|   7.161.136.94|   6767119071901597|              Russia|  2/1/1960|144972.51| Structural Engineer|                    |
|2016-02-03 00:36:21|  4|    Denise|    Riley|    driley3@gmpg.org|Female|  140.35.109.83|   3576031598965625|               China|  4/8/1997| 90263.05|Senior Cost Accou...|                    |
|2016-02-03 05:05:31|  5|    Carlos|    Burns|cburns4@miitbeian...|      | 169.113.235.40|   5602256255204850|        South Africa|          |     NULL|                    |                    |
|2016-02-03 07:22:34|  6|   Kathryn|    White|  kwhite5@google.com|Female| 195.131.81.179|   3583136326049310|           Indonesia| 2/25/1983| 69227.11|   Account Executive|                    |
|2016-02-03 08:33:08|  7|    Samuel|   Holmes|sholmes6@foxnews.com|  Male| 232.234.81.197|   3582641366974690|            Portugal|12/18/1987| 14247.62|Senior Financial ...|                    |
|2016-02-03 06:47:06|  8|     Harry|   Howell| hhowell7@eepurl.com|  Male|   91.235.51.73|                   |Bosnia and Herzeg...|  3/1/1962|186469.43|    Web Developer IV|                    |
|2016-02-03 03:52:53|  9|      Jose|   Foster|   jfoster8@yelp.com|  Male|   132.31.53.61|                   |         South Korea| 3/27/1992|231067.84|Software Test Eng...|               1E+02|
|2016-02-03 18:29:47| 10|     Emily|  Stewart|estewart9@opensou...|Female| 143.28.251.245|   3574254110301671|             Nigeria| 1/28/1997| 27234.28|     Health Coach IV|                    |
|2016-02-03 00:10:42| 11|     Susan|  Perkins| sperkinsa@patch.com|Female|    180.85.0.62|   3573823609854134|              Russia|          |210001.95|                    |                    |
|2016-02-03 18:04:34| 12|     Alice|    Berry|aberryb@wikipedia...|Female| 246.225.12.189|   4917830851454417|               China| 8/12/1968| 22944.53|    Quality Engineer|                    |
|2016-02-03 18:48:17| 13|    Justin|    Berry|jberryc@usatoday.com|  Male|   157.7.146.43|6331109912871813274|              Zambia| 8/15/1975| 44165.46|Structural Analys...|                    |
|2016-02-03 21:46:52| 14|     Kathy| Reynolds|kreynoldsd@redcro...|Female|  81.254.172.13|   5537178462965976|Bosnia and Herzeg...| 6/27/1970|286592.99|           Librarian|                    |
|2016-02-03 08:53:23| 15|   Dorothy|   Hudson|dhudsone@blogger.com|Female|       8.59.7.0|   3542586858224170|               Japan|12/20/1989|157099.71|  Nurse Practicioner|<script>alert('hi...|
|2016-02-03 00:44:01| 16|     Bruce|   Willis|bwillisf@bluehost...|  Male|239.182.219.189|   3573030625927601|              Brazil|          |239100.65|                    |                    |
|2016-02-03 00:57:45| 17|     Emily|  Andrews|eandrewsg@cornell...|Female| 29.231.180.172|     30271790537626|              Russia| 4/13/1990|116800.65|        Food Chemist|                    |
|2016-02-03 16:44:24| 18|   Stephen|  Wallace|swallaceh@netvibe...|  Male|  152.49.213.62|   5433943468526428|             Ukraine| 1/15/1978|248877.99|Account Represent...|                    |
|2016-02-03 11:45:54| 19|  Clarence|   Lawson|clawsoni@vkontakt...|  Male| 107.175.15.152|   3544052814080964|              Russia|          |177122.99|                    |                    |
|2016-02-03 10:30:36| 20|   Rebecca|     Bell| rbellj@bandcamp.com|Female|172.215.104.127|                   |               China|          |137251.19|                    |                    |
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
only showing top 20 rows

DataFrame[registration_dttm: timestamp, id: int, first_name: string, last_name: string, email: string, gender: string, ip_address: string, cc: string, country: string, birthdate: string, salary: double, title: string, comments: string]

Reading multiple parquet datasets

In [53]:
df_read = spark.read.parquet('/userdata1.parquet', '/userdata2.parquet')
print(df.count())
df_read.show()
display(df)

1000
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|  registration_dttm| id|first_name|last_name|               email|gender|     ip_address|                 cc|             country| birthdate|   salary|               title|            comments|
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|2016-02-03 07:55:29|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|    1.197.201.2|   6759521864920116|           Indonesia|  3/8/1971| 49756.53|    Internal Auditor|               1E+02|
|2016-02-03 17:04:03|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male| 218.111.175.34|                   |              Canada| 1/16/1968|150280.17|       Accountant IV|                    |
|2016-02-03 01:09:31|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|   7.161.136.94|   6767119071901597|              Russia|  2/1/1960|144972.51| Structural Engineer|                    |
|2016-02-03 00:36:21|  4|    Denise|    Riley|    driley3@gmpg.org|Female|  140.35.109.83|   3576031598965625|               China|  4/8/1997| 90263.05|Senior Cost Accou...|                    |
|2016-02-03 05:05:31|  5|    Carlos|    Burns|cburns4@miitbeian...|      | 169.113.235.40|   5602256255204850|        South Africa|          |     NULL|                    |                    |
|2016-02-03 07:22:34|  6|   Kathryn|    White|  kwhite5@google.com|Female| 195.131.81.179|   3583136326049310|           Indonesia| 2/25/1983| 69227.11|   Account Executive|                    |
|2016-02-03 08:33:08|  7|    Samuel|   Holmes|sholmes6@foxnews.com|  Male| 232.234.81.197|   3582641366974690|            Portugal|12/18/1987| 14247.62|Senior Financial ...|                    |
|2016-02-03 06:47:06|  8|     Harry|   Howell| hhowell7@eepurl.com|  Male|   91.235.51.73|                   |Bosnia and Herzeg...|  3/1/1962|186469.43|    Web Developer IV|                    |
|2016-02-03 03:52:53|  9|      Jose|   Foster|   jfoster8@yelp.com|  Male|   132.31.53.61|                   |         South Korea| 3/27/1992|231067.84|Software Test Eng...|               1E+02|
|2016-02-03 18:29:47| 10|     Emily|  Stewart|estewart9@opensou...|Female| 143.28.251.245|   3574254110301671|             Nigeria| 1/28/1997| 27234.28|     Health Coach IV|                    |
|2016-02-03 00:10:42| 11|     Susan|  Perkins| sperkinsa@patch.com|Female|    180.85.0.62|   3573823609854134|              Russia|          |210001.95|                    |                    |
|2016-02-03 18:04:34| 12|     Alice|    Berry|aberryb@wikipedia...|Female| 246.225.12.189|   4917830851454417|               China| 8/12/1968| 22944.53|    Quality Engineer|                    |
|2016-02-03 18:48:17| 13|    Justin|    Berry|jberryc@usatoday.com|  Male|   157.7.146.43|6331109912871813274|              Zambia| 8/15/1975| 44165.46|Structural Analys...|                    |
|2016-02-03 21:46:52| 14|     Kathy| Reynolds|kreynoldsd@redcro...|Female|  81.254.172.13|   5537178462965976|Bosnia and Herzeg...| 6/27/1970|286592.99|           Librarian|                    |
|2016-02-03 08:53:23| 15|   Dorothy|   Hudson|dhudsone@blogger.com|Female|       8.59.7.0|   3542586858224170|               Japan|12/20/1989|157099.71|  Nurse Practicioner|<script>alert('hi...|
|2016-02-03 00:44:01| 16|     Bruce|   Willis|bwillisf@bluehost...|  Male|239.182.219.189|   3573030625927601|              Brazil|          |239100.65|                    |                    |
|2016-02-03 00:57:45| 17|     Emily|  Andrews|eandrewsg@cornell...|Female| 29.231.180.172|     30271790537626|              Russia| 4/13/1990|116800.65|        Food Chemist|                    |
|2016-02-03 16:44:24| 18|   Stephen|  Wallace|swallaceh@netvibe...|  Male|  152.49.213.62|   5433943468526428|             Ukraine| 1/15/1978|248877.99|Account Represent...|                    |
|2016-02-03 11:45:54| 19|  Clarence|   Lawson|clawsoni@vkontakt...|  Male| 107.175.15.152|   3544052814080964|              Russia|          |177122.99|                    |                    |
|2016-02-03 10:30:36| 20|   Rebecca|     Bell| rbellj@bandcamp.com|Female|172.215.104.127|                   |               China|          |137251.19|                    |                    |
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
only showing top 20 rows

DataFrame[registration_dttm: timestamp, id: int, first_name: string, last_name: string, email: string, gender: string, ip_address: string, cc: string, country: string, birthdate: string, salary: double, title: string, comments: string]

In [6]:
!pip install pyspark
# Import the necessary Spark libraries
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

data = [(1, 'Stephen'), (2, 'Ayden')]
schema = ['id', 'name']

df= spark.createDataFrame(data=data, schema=schema)
df.show()
display(df)

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=0a1973457460015c1906c0c3f4cd2d90370ed5503ff87260eb21f60cdba7e670
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
+---+-------+
| id|   name|
+---+-------+
|  1|Stephen|
|  2|  Ayden|
+---+-------+

DataFrame[id: bigint, name: string]

In [8]:
df.write.parquet(path='/paquetsample.parquet')

In [10]:
df =spark.read.parquet('/paquetsample.parquet')
df.show()
display(df)

+---+-------+
| id|   name|
+---+-------+
|  1|Stephen|
|  2|  Ayden|
+---+-------+

DataFrame[id: bigint, name: string]

In [22]:
df_read = spark.read.parquet('/userdata2.parquet')
print(df.count())
display(df)
df.show(truncate=False, vertical=True)
#df.show(n=1, vertical=True)

2

DataFrame[id: bigint, name: string]

-RECORD 0-------
 id   | 1
 name | Stephen
-RECORD 1-------
 id   | 2
 name | Ayden

withColumn()

In [35]:
from pyspark.sql.functions import col,lit
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("WithColumn").getOrCreate()

# Sample data
data = [(1, 'Stephen','20000'), (2, 'Ayden','30000')]
schema = ['id', 'name','salary']

df = spark.createDataFrame(data=data, schema=schema)

df1=df.withColumn(colName='salary', col=col ('salary').cast('Integer'))



df2=df1.withColumn('salary', col('salary')*2) # updating values in existing  records


df3=df2.withColumn('country', lit('Uganda')) # adding a new column to the dataframe

df3.show()

df4= df3.withColumn('copiedsalary', col('salary')) # copying an existing column and appending it to the dataframe
df4.show()

+---+-------+------+-------+
| id|   name|salary|country|
+---+-------+------+-------+
|  1|Stephen| 40000| Uganda|
|  2|  Ayden| 60000| Uganda|
+---+-------+------+-------+

+---+-------+------+-------+------------+
| id|   name|salary|country|copiedsalary|
+---+-------+------+-------+------------+
|  1|Stephen| 40000| Uganda|       40000|
|  2|  Ayden| 60000| Uganda|       60000|
+---+-------+------+-------+------------+

withColumnRenamed() - usage

In [36]:
data = [(1, 'Stephen','20000'), (2, 'Ayden','30000')]
columns= ['id', 'name','salary']

spark.createDataFrame(data=data, schema=columns)
df.show()
df.show

+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1|Stephen| 20000|
|  2|  Ayden| 30000|
+---+-------+------+

In [38]:
# help(df.withColumnRenamed)
df.withColumnRenamed('salary','salary_amount').show()

+---+-------+-------------+
| id|   name|salary_amount|
+---+-------+-------------+
|  1|Stephen|        20000|
|  2|  Ayden|        30000|
+---+-------+-------------+

StrucType() & StructField()

In [44]:
data = [(1, 'Stephen','20000'), (2, 'Ayden','30000')]
schema = ['id','name','salary']

df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1|Stephen| 20000|
|  2|  Ayden| 30000|
+---+-------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [45]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Define the schema
schema = StructType([
                    StructField(name="id",dataType=IntegerType()),\
                    StructField(name="name",dataType=StringType()),\
                    StructField(name="salary",dataType=IntegerType())
                    ])

#
data = [(1, 'Stephen','20000'), (2, 'Ayden','30000')]
schema = ['id','name','salary']

df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1|Stephen| 20000|
|  2|  Ayden| 30000|
+---+-------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

complex columns

In [49]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

data = [(1, ('Stephen', 'Waigi'), 20000), (2, ('Ayden', 'Kanja'), 30000)]

structName = StructType([
    StructField('firstName', StringType()),
    StructField('lastName', StringType())
])

schema = StructType([
                    StructField(name="id",dataType=IntegerType()),\
                    StructField(name="name",dataType=structName),\
                    StructField(name="salary",dataType=IntegerType())
                    ])


df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+----------------+------+
| id|            name|salary|
+---+----------------+------+
|  1|{Stephen, Waigi}| 20000|
|  2|  {Ayden, Kanja}| 30000|
+---+----------------+------+

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- firstName: string (nullable = true)
 |    |-- lastName: string (nullable = true)
 |-- salary: integer (nullable = true)

ArrayType

In [50]:
data = [('abc', [1,2]), ('efg', [3,4]), ('hjk', [5,6])]
schema = ['id', 'numbers']

df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+-------+
| id|numbers|
+---+-------+
|abc| [1, 2]|
|efg| [3, 4]|
|hjk| [5, 6]|
+---+-------+

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: long (containsNull = true)

In [52]:
from pyspark.sql.types import StructType, StructField, IntegerType, ArrayType,StringType
data = [('abc', [1,2]), ('efg', [3,4]), ('hjk', [5,6])]
schema = StructType([
                    StructField('id',StringType()),\
                    StructField('numbers',ArrayType(IntegerType()))
                    ])


df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()
display(df)

+---+-------+
| id|numbers|
+---+-------+
|abc| [1, 2]|
|efg| [3, 4]|
|hjk| [5, 6]|
+---+-------+

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: integer (containsNull = true)

DataFrame[id: string, numbers: array<int>]

In [53]:
df.withColumn('firstNumber',col('numbers')[0]).show()

+---+-------+-----------+
| id|numbers|firstNumber|
+---+-------+-----------+
|abc| [1, 2]|          1|
|efg| [3, 4]|          3|
|hjk| [5, 6]|          5|
+---+-------+-----------+

In [55]:
from pyspark.sql.functions import col,array
data = [(1,2),(3,4),(5,6)]
schema = ['num1','num2']

df=spark.createDataFrame(data,schema)
df1=df.withColumn('numbers',array(col('num1'),col('num2')))
df1.show()
df1.printSchema()

+----+----+-------+
|num1|num2|numbers|
+----+----+-------+
|   1|   2| [1, 2]|
|   3|   4| [3, 4]|
|   5|   6| [5, 6]|
+----+----+-------+

root
 |-- num1: long (nullable = true)
 |-- num2: long (nullable = true)
 |-- numbers: array (nullable = false)
 |    |-- element: long (containsNull = true)

explode()

In [56]:
data = [(1,'Stephen',['Sql','python']), (2,'Ayden',['R','java'])]
schema = ['id','name','skills']

df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()
display(df)

+---+-------+-------------+
| id|   name|       skills|
+---+-------+-------------+
|  1|Stephen|[Sql, python]|
|  2|  Ayden|    [R, java]|
+---+-------+-------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)

DataFrame[id: bigint, name: string, skills: array<string>]

In [58]:
from pyspark.sql.functions import explode,col
df.show
df1=df.withColumn('skills',explode(col('skills'))).show()

+---+-------+------+
| id|   name|skills|
+---+-------+------+
|  1|Stephen|   Sql|
|  1|Stephen|python|
|  2|  Ayden|     R|
|  2|  Ayden|  java|
+---+-------+------+

split

In [66]:
from pyspark.sql.functions import split,col
df.show()
df1=df.withColumn('skillsArray',split(col('skills'),',')).show()

+---+-------+------------+
| id|   name|      skills|
+---+-------+------------+
|  1|Stephen|[Sql,python]|
|  2|  Ayden|    [R,java]|
+---+-------+------------+

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "split(skills, ,, -1)" due to data type mismatch: Parameter 1 requires the "STRING" type, however "skills" has the type "ARRAY<STRING>".;
'Project [id#1065L, name#1066, skills#1067, split(skills#1067, ,, -1) AS skillsArray#1142]
+- LogicalRDD [id#1065L, name#1066, skills#1067], false

In [67]:
data = [(1,'Stephen','Sql','python'), (2,'Ayden','R','java')]
schema = ['id','name','primarySkills','secondarySkills']

df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()
display(df)

+---+-------+-------------+---------------+
| id|   name|primarySkills|secondarySkills|
+---+-------+-------------+---------------+
|  1|Stephen|          Sql|         python|
|  2|  Ayden|            R|           java|
+---+-------+-------------+---------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- primarySkills: string (nullable = true)
 |-- secondarySkills: string (nullable = true)

DataFrame[id: bigint, name: string, primarySkills: string, secondarySkills: string]

In [68]:
from pyspark.sql.functions import array, col

df1 = df.withColumn('skillsArray', array(col('primarySkills'), col('secondarySkills'))).show()

+---+-------+-------------+---------------+-------------+
| id|   name|primarySkills|secondarySkills|  skillsArray|
+---+-------+-------------+---------------+-------------+
|  1|Stephen|          Sql|         python|[Sql, python]|
|  2|  Ayden|            R|           java|    [R, java]|
+---+-------+-------------+---------------+-------------+